In [31]:
import pandas as pd
import numpy as np
import h5py
import matplotlib.pyplot as plt
import tensorflow as tf
import math

In [64]:
# Comb data is located in '3'
dataset_path = '/Users/himanshubabal/Documents/External_Disk_Link_WD_HDD/AHS_Data/22/3/'

In [65]:
def one_hot_df(data_frame, one_hot_colnames) :
    colnames = list(data_frame)
    hot_col = list()
    
    for hot in one_hot_colnames :
        if hot in colnames :
            hot_col.append(hot)
            
    if 'district' in hot_col :
        hot_col.remove('district')
    if 'state' in hot_col :
        hot_col.remove('state')
            
    df = pd.get_dummies(data_frame, columns=hot_col)
    return (df)

In [68]:
dist = pd.read_csv('Data/3_22_8.csv')

/Users/himanshubabal/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (41) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [69]:
dist = dist.drop(dist.columns[[0]], axis=1)

In [70]:
dist.describe()

,state,district,rural,stratum_code,psu_id,house_no,house_hold_no,sex,usual_residance,relation_to_head,...,land_possessed,residancial_status,iscoveredbyhealthscheme,healthscheme_1,healthscheme_2,housestatus,householdstatus,isheadchanged,as_binned,year
count,97824.0,97824.0,97824.000000,97824.000000,9.782400e+04,97824.000000,97824.000000,97824.000000,82306.000000,83280.000000,...,87153.000000,61428.000000,55641.000000,19223.000000,18.000000,70097.000000,68729.000000,54257.000000,27721.000000,97824.000000
mean,22.0,8.0,1.189023,1.040859,1.587218e+08,131.520220,1.492016,1.496473,1.012539,2.715718,...,3.758471,2.048626,1.672939,3.051501,2.722222,1.019230,1.601624,1.988296,3.188882,2.093576
std,0.0,0.0,0.391529,0.645941,2.823950e+04,106.571766,0.918000,0.499990,0.111272,1.547864,...,1.990228,2.349249,0.506893,2.013158,1.319784,0.220629,1.320137,0.107549,1.304629,0.807242
min,22.0,8.0,1.000000,0.000000,1.586729e+08,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,2.000000,0.000000,1.000000,1.000000,1.000000,1.000000
25%,22.0,8.0,1.000000,1.000000,1.586974e+08,49.000000,1.000000,1.000000,1.000000,2.000000,...,2.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,1.000000
50%,22.0,8.0,1.000000,1.000000,1.587218e+08,105.000000,1.000000,1.000000,1.000000,3.000000,...,3.000000,1.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,3.000000,2.000000
75%,22.0,8.0,1.000000,1.000000,1.587463e+08,182.000000,2.000000,2.000000,1.000000,3.000000,...,6.000000,1.000000,2.000000,2.000000,3.000000,1.000000,1.000000,2.000000,4.000000,3.000000
max,22.0,8.0,2.000000,2.000000,1.587707e+08,539.000000,9.000000,2.000000,2.000000,13.000000,...,6.000000,11.000000,3.000000,7.000000,6.000000,3.000000,6.000000,2.000000,5.000000,3.000000

In [71]:
col_to_be_removed = [
    'state',
#     'district',
    'house_no',
    'house_hold_no',
    'member_identity',
    'father_serial_no',
    'mother_serial_no',
    'date_of_birth',
    'month_of_birth',
    'year_of_birth',
    'date_of_marriage',
    'month_of_marriage',
    'year_of_marriage',
    'building_no',
    'no_of_dwelling_rooms',
    'rural_1',
    'rural_2',
    'stratum_code',
    'relation_to_head',
    'member_identity',
    'father_serial_no',
    'mother_serial_no',
    'date_of_birth',
    'month_of_birth',
    'year_of_birth',
    'date_of_marriage',
    'month_of_marriage',
    'year_of_marriage',
    'isheadchanged',
    'year'
]

In [72]:
dist_n = dist.drop(col_to_be_removed,axis=1,errors='ignore')

In [73]:
dist_psu = dist_n[['psu_id']]
dist_n.drop(['psu_id'],inplace=True,axis=1,errors='ignore')

In [74]:
dist_p = dist_n[np.isfinite(dist_n['diagnosed_for'])]

In [76]:
dist_p.shape

(82830, 58)

In [78]:
del dist_n

In [79]:
diagnosed_for_df = dist_p[['diagnosed_for']]
dist_p.drop(['diagnosed_for'],inplace=True,axis=1,errors='ignore')

In [80]:
diagnosed_for_df

       diagnosed_for
0                0.0
1                0.0
2                0.0
3                0.0
7                0.0
8                0.0
9                0.0
10               0.0
11               0.0
12               0.0
13               0.0
14               0.0
15               0.0
16               0.0
17               0.0
18               0.0
19               0.0
20               0.0
23               0.0
29               0.0
30               0.0
31               0.0
32               0.0
33               0.0
35               0.0
36               0.0
37               0.0
38               0.0
42               0.0
43               0.0
...              ...
97788            0.0
97789            0.0
97790            0.0
97791            0.0
97792            0.0
97794            0.0
97795            0.0
97796            0.0
97797            0.0
97798            0.0
97800            0.0
97801            0.0
97802            0.0
97805            0.0
97806            0.0
97808            0.0
97809            0.0
97810            0.0
97811            0.0
97812            0.0
97813            0.0
97814            0.0
97816            0.0
97817            0.0
97818            0.0
97819            0.0
97820            0.0
97821            0.0
97822            0.0
97823            0.0

[82830 rows x 1 columns]

In [81]:
not_oneHot_col = ['district','age']
one_hot_col_list = [x for x in list(dist_p) if x not in not_oneHot_col]

In [82]:
one_hot_col_list

['rural',
 'sex',
 'usual_residance',
 'religion',
 'social_group_code',
 'marital_status',
 'currently_attending_school',
 'reason_for_not_attending_school',
 'highest_qualification',
 'occupation_status',
 'disability_status',
 'injury_treatment_type',
 'illness_type',
 'treatment_source',
 'symptoms_pertaining_illness',
 'sought_medical_care',
 'diagnosis_source',
 'regular_treatment',
 'regular_treatment_source',
 'chew',
 'smoke',
 'alcohol',
 'house_status',
 'house_structure',
 'owner_status',
 'drinking_water_source',
 'is_water_filter',
 'water_filteration',
 'toilet_used',
 'is_toilet_shared',
 'household_have_electricity',
 'lighting_source',
 'cooking_fuel',
 'kitchen_availability',
 'is_radio',
 'is_television',
 'is_computer',
 'is_telephone',
 'is_washing_machine',
 'is_refrigerator',
 'is_sewing_machine',
 'is_bicycle',
 'is_scooter',
 'is_car',
 'is_tractor',
 'is_water_pump',
 'cart',
 'land_possessed',
 'residancial_status',
 'iscoveredbyhealthscheme',
 'healthscheme_1',
 'healthscheme_2',
 'housestatus',
 'householdstatus',
 'as_binned']

In [84]:
dist_hot = one_hot_df(dist_p, one_hot_col_list)

In [85]:
dist_p.head()

,district,rural,sex,usual_residance,age,religion,social_group_code,marital_status,currently_attending_school,reason_for_not_attending_school,...,is_water_pump,cart,land_possessed,residancial_status,iscoveredbyhealthscheme,healthscheme_1,healthscheme_2,housestatus,householdstatus,as_binned
0,8,1,1,1.0,42.0,1.0,3.0,3.0,NaN,NaN,...,2.0,4.0,1.0,1.0,1.0,2.0,NaN,1.0,1.0,NaN
1,8,1,2,1.0,38.0,1.0,3.0,3.0,NaN,NaN,...,2.0,4.0,1.0,1.0,1.0,2.0,NaN,1.0,1.0,NaN
2,8,1,2,1.0,12.0,1.0,3.0,1.0,1.0,NaN,...,2.0,4.0,1.0,1.0,1.0,2.0,NaN,1.0,1.0,NaN
3,8,1,1,1.0,10.0,1.0,3.0,1.0,1.0,NaN,...,2.0,4.0,1.0,1.0,2.0,NaN,NaN,1.0,1.0,NaN
7,8,1,1,NaN,1.0,1.0,3.0,1.0,NaN,NaN,...,2.0,1.0,6.0,1.0,2.0,NaN,NaN,1.0,1.0,NaN

In [86]:
dist_hot.head()

,district,age,rural_1,rural_2,sex_1,sex_2,usual_residance_1.0,religion_1.0,religion_2.0,religion_3.0,...,householdstatus_2.0,householdstatus_3.0,householdstatus_4.0,householdstatus_5.0,householdstatus_6.0,as_binned_1.0,as_binned_2.0,as_binned_3.0,as_binned_4.0,as_binned_5.0
0,8,42.0,1,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,8,38.0,1,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,8,12.0,1,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,8,10.0,1,0,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7,8,1.0,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
dist_hot.shape[1]

306

In [119]:
f = [0,0,0,0,0,1,1,1,1,4,4,4,4,4,6]

In [120]:
g = np.arange(15)

In [121]:
g

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [122]:
for i in range(len(f)):
    x = f[i]
    g[i] = x + 1

In [124]:
def increase_by_one(np_array):
    l = len(np_array)
    new = np.arange(l)
    
    for i in range(l) :
        x = np_array[i]
        new[i] = x + 1
    return new

In [125]:
g = increase_by_one(f)

In [126]:
g

array([1, 1, 1, 1, 1, 2, 2, 2, 2, 5, 5, 5, 5, 5, 7])

In [128]:
k = increase_by_one(np.array(diagnosed_for_df))

In [129]:
k.shape

(82830,)

In [131]:
k

array([1, 1, 1, ..., 1, 1, 1])

In [132]:
np.array(diagnosed_for_df)

array([[ 0.],
       [ 0.],
       [ 0.],
       ...,
       [ 0.],
       [ 0.],
       [ 0.]])

In [34]:
f = np.copy(diagnosed_for_df)

In [35]:
g = f.flatten()

In [36]:
g.shape

(97824,)

In [18]:
hdf_file = 'data/3_22_8_train.hdf5'
hdf = h5py.File(hdf_file, 'w')

with hdf as hf:
    hf.create_dataset("train",  data=dist_hot)
    hf.create_dataset("label",  data=diagnosed_for_df)
    hf.create_dataset("psu",  data=dist_psu)

In [47]:
print(dist_hot.shape, diagnosed_for_df.shape)

(97824, 306) (97824, 1)

In [27]:
def acc(predictions, labels):
    return (100.0 * np.sum(np.argmax(predictions, 2).T == labels) / predictions.shape[1] / predictions.shape[0])

In [28]:
def mean(numbers):
    return float(sum(numbers)) / max(len(numbers), 1)

In [153]:
graph_svhn = tf.Graph()

with graph_svhn.as_default():
    WIDTH = dist_hot.shape[1]

    X = tf.placeholder(tf.float32, [None, WIDTH])
#     Y_ = tf.placeholder(tf.int32, [None, 1])
    Y_ = tf.placeholder(tf.float32, [None])
    
    print('X Shape :', X.get_shape())
    print('Y_ Shape :', Y_.get_shape())
    print('   ')
    
    # Learning Rate - alpha
    alpha = tf.placeholder(tf.float32)
    
    # Dropout Probablity
    pkeep = tf.placeholder(tf.float32)
    
    # 6 Layers and their no of neurons
    K = 500     # First Layer with 500 Neurons
    L = 600     # Second Conv Layer with depth 24
    M = 400     # Third Conv layer with depth 36
    N = 200     # Fourth Fully Connected layer with 300 neurons
    P = 50      # Fifth Fully Connected layer with 200 neurons
    # Last one will be softmax layer with 10 output channels
    
    W1 = tf.Variable(tf.truncated_normal([WIDTH, K], stddev=0.1), name="W1") 
    B1 = tf.Variable(tf.constant(0.1, tf.float32, [K]), name="B1")
    
    W2 = tf.Variable(tf.truncated_normal([K, L], stddev=0.1), name="W2")
    B2 = tf.Variable(tf.constant(0.1, tf.float32, [L]), name="B2")
    
    W3 = tf.Variable(tf.truncated_normal([L, M], stddev=0.1), name="W2")
    B3 = tf.Variable(tf.constant(0.1, tf.float32, [M]), name="B2")
    
    W4 = tf.Variable(tf.truncated_normal([M, N], stddev=0.1), name="W2")
    B4 = tf.Variable(tf.constant(0.1, tf.float32, [N]), name="B2")
    
    W5 = tf.Variable(tf.truncated_normal([N, P], stddev=0.1), name="W2")
    B5 = tf.Variable(tf.constant(0.1, tf.float32, [P]), name="B2")
    
    W6 = tf.Variable(tf.truncated_normal([P, 1], stddev=0.1), name="W2")
    B6 = tf.Variable(tf.constant(0.1, tf.float32, [1]), name="B2")
    
    print('W1 Shape :', W1.get_shape())
    print('B1 Shape :', B1.get_shape())
    print('W2 Shape :', W2.get_shape())
    print('B2 Shape :', B2.get_shape())
    print('W3 Shape :', W3.get_shape())
    print('B3 Shape :', B3.get_shape())
    print('W4 Shape :', W4.get_shape())
    print('B4 Shape :', B4.get_shape())
    print('W5 Shape :', W5.get_shape())
    print('B5 Shape :', B5.get_shape())
    print('W6 Shape :', W6.get_shape())
    print('B6 Shape :', B6.get_shape())
    print('   ')
    
    Y1 = tf.nn.relu(tf.matmul(X, W1) + B1)
    Y2 = tf.nn.relu(tf.matmul(Y1, W2) + B2)
    Y3 = tf.nn.relu(tf.matmul(Y2, W3) + B3)
    Y4 = tf.nn.relu(tf.matmul(Y3, W4) + B4)
    Y5 = tf.nn.relu(tf.matmul(Y4, W5) + B5)
    # Y_F = tf.nn.dropout(Y5, pkeep)
    
    print('Y1 Shape :', Y1.get_shape())
    print('Y2 Shape :', Y2.get_shape())
    print('Y3 Shape :', Y3.get_shape())
    print('Y4 Shape :', Y4.get_shape())
    print('Y5 Shape :', Y5.get_shape())
    print('   ')
    
    Y_logit = tf.matmul(Y5, W6) + B6
    
    Y = tf.tanh(Y_logit)
    
    print('Y_logit Shape :', Y_logit.get_shape())
    print('Y Shape :', Y.get_shape())
    
#     cross_entropy = tf.reduce_mean(tf.nn.softmax_cross_entropy_with_logits(Y_logit, Y_))
    cross_entropy = -tf.reduce_sum(Y_ * tf.log(Y_logit))
    
#     p
    
    train_prediction = tf.pack([Y,Y_logit])
#     logit = 0
#     train_prediction = tf.pack(Y)
#     logit = tf.pack(Y_logit)

    correct_prediction = tf.equal(tf.argmax(Y_logit,1), tf.argmax(Y_,1))
    accuracy = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))
    
    train_step = tf.train.AdamOptimizer(alpha).minimize(cross_entropy)
    
    W_s = tf.pack([tf.reduce_max(tf.abs(W1)),tf.reduce_max(tf.abs(W2)),tf.reduce_max(tf.abs(W3))\
                   ,tf.reduce_max(tf.abs(W4)),tf.reduce_max(tf.abs(W5)),tf.reduce_max(tf.abs(W6))])
    b_s = tf.pack([tf.reduce_max(tf.abs(B1)),tf.reduce_max(tf.abs(B2)),tf.reduce_max(tf.abs(B3))\
                   ,tf.reduce_max(tf.abs(B4)),tf.reduce_max(tf.abs(B5)),tf.reduce_max(tf.abs(B6))])
    
    model_saver = tf.train.Saver()

X Shape : (?, 297)
Y_ Shape : (?,)

W1 Shape : (297, 500)
B1 Shape : (500,)
W2 Shape : (500, 600)
B2 Shape : (600,)
W3 Shape : (600, 400)
B3 Shape : (400,)
W4 Shape : (400, 200)
B4 Shape : (200,)
W5 Shape : (200, 50)
B5 Shape : (50,)
W6 Shape : (50, 1)
B6 Shape : (1,)

Y1 Shape : (?, 500)
Y2 Shape : (?, 600)
Y3 Shape : (?, 400)
Y4 Shape : (?, 200)
Y5 Shape : (?, 50)

Y_logit Shape : (?, 1)
Y Shape : (?, 1)

In [ ]:
train_data = dist_hot.astype(float)
# label_data = np.copy(diagnosed_for_df).flatten()
label_data = increase_by_one(np.array(diagnosed_for_df)).astype(float)
print(label_data.shape)

print('train : ', train_data.shape, '  test : ', label_data.shape)

batch_size = 128
num_steps = int(label_data.shape[0] / batch_size)
num_epochs = 25


with tf.Session(graph=graph_svhn) as session:
    tf.global_variables_initializer().run()
    print('Initialized')
      
    for epoch in range(num_epochs):
        for step in range(num_steps - 1):
            max_learning_rate = 0.0005
            min_learning_rate = 0.0001

            decay_speed = 5000.0
            learning_rate = min_learning_rate + (max_learning_rate - min_learning_rate) * math.exp(-step/decay_speed)

            batch_data = train_data[step*batch_size:(step + 1)*batch_size]
            batch_labels = label_data[step*batch_size:(step + 1)*batch_size]

            feed_dict = {X : batch_data, Y_ : batch_labels, pkeep : 0.80, alpha : learning_rate}
            _, l, train_pred, W, b  = session.run([train_step, cross_entropy, train_prediction, W_s, b_s], feed_dict=feed_dict)
#             ac = accuracy.eval(feed_dict=feed_dict)
#             print('accc :',ac)
# #             accuracy = float(acc(train_pred, batch_labels))
            
            if step % 500 == 0:
                print(train_pred.shape)
#                 print('prediction :',train_pred)
#                 print('Actual :', batch_labels)
#                 print('Logit :', logit)
                print(batch_labels.shape)

                print('Loss at step %d: %f' % (step, l))
    #             print('Minibatch accuracy: %.1f%%' % acc(train_pred, batch_labels))
                print('W :', W)
                print('B :', b)
                print('=======')
                print('    ')
            
            
    print('Training Complete on MNIST Data')
    
    save_path = model_saver.save(session, "models/try_1.ckpt")
    print("Model saved in file: %s" % save_path)

(82830,)
train :  (82830, 297)   test :  (82830,)
Initialized
(2, 128, 1)
(128,)
Loss at step 0: nan
W : [ 0.19999914  0.19999708  0.19999969  0.19999772  0.1997866   0.19038302]
B : [ 0.1  0.1  0.1  0.1  0.1  0.1]
=======

(2, 128, 1)
(128,)
Loss at step 500: nan
W : [ 0.50964737  0.57315683  0.53344107  0.46886757  0.46765342  0.35242102]
B : [ 0.40967757  0.33779141  0.3160747   0.25930828  0.11929893  0.09494262]
=======

(2, 128, 1)
(128,)
Loss at step 0: nan
W : [ 0.57186347  0.64227384  0.59542829  0.57807344  0.52810013  0.39583063]
B : [ 0.46527427  0.38792074  0.34818152  0.26921275  0.11930171  0.09494262]
=======