In [1]:
import pandas as pd

In [131]:
import numpy as np

In [164]:
import os

In [236]:
import pickle

In [167]:
data_path = "~/Documents/External_Disk_Link_WD_HDD/AHS_Data/"

In [198]:
data_path = "/Volumes/WD HDD/AHS_Data/"

In [199]:
AHS_struct_workbook = pd.ExcelFile(data_path + "Data_structure_AHS.xlsx")

In [3]:
AHS_struct_workbook.sheet_names

[u'File Name',
 u'State District Codes',
 u'Schedule Codes',
 u'COMB',
 u'MORT',
 u'WOMAN',
 u'WPS']

In [4]:
AHS_struct_sheets_names = AHS_struct_workbook.sheet_names

In [5]:
def get_sheet_field_names(excel_workbook, sheet_name) :
    # Start from row 3, as initial 2 rows contain no info
    sheet = excel_workbook.parse(sheet_name, skiprows=2, na_values=['NA'])
    # Find index of 'NOTES:' in 1st cloumn and delete all rows below it
    notes_index = sheet.loc[sheet['Field Order'] == "NOTES:"].index.tolist()[0]
    sheet = sheet.ix[1 : notes_index - 1]
    
    # select column 2,3 and 4 (Filed name, Description and Codes used)
    sheet = sheet[[1,2,3]]
    # Remove <NaN> from Field Names
    sheet = sheet.dropna(subset=[list(sheet)[0]])
    
    # Selecting Non-Yellow field names
    # Dropping <NaN> from Field Descriptions and Codes Used
    sheet_non_yellow = sheet.dropna(subset=[list(sheet)[1], list(sheet)[2]])
    
    # Selecting 'None' and Non-'None' Codes used
    sheet_code_not_none = sheet_non_yellow[sheet_non_yellow['Codes Used'] != "None"]
    sheet_code_none = sheet_non_yellow[sheet_non_yellow['Codes Used'] == "None"]
    
    # Convert all 'Field Names' to list()
    sheet_all = sheet['Field Name'].tolist()
    sheet_non_yellow = sheet_non_yellow['Field Name'].tolist()
    sheet_yellow = list(set(sheet_all) - set(sheet_non_yellow))
    sheet_code_not_none = sheet_code_not_none['Field Name'].tolist()
    sheet_code_none = sheet_code_none['Field Name'].tolist()
    
    # Output in form of list() of lists()
    output = list()
    output.append(sheet_yellow)
    output.append(sheet_non_yellow)
    output.append(sheet_all)
    output.append(sheet_code_none)
    output.append(sheet_code_not_none)
    # output = list[sheet_yellow, sheet_non_yellow, sheet_all, sheet_code_none, sheet_code_not_none]
    
    return(output)

In [7]:
# Turn characters of list into lowercase and limit to max 32 char
def lowercase_32Char(list_):
    list_1 = [x.lower() for x in list_]
    list_2 = [x[0:32] for x in list_1]
    return (list_2)

In [8]:
def lowercase_32Char_list(field_list) :
    # Field names in CSV files are max upto 32 characters
    # and all small letters
    l = len(field_list)
    sol = list()
    
    for field in field_list:
        sol.append(lowercase_32Char(field))
    
    return(sol)

In [69]:
# Remove yellow fields from the data frame
def remove_yellow_fields(data_frame, yellow_field_list) :
    df_col_names = list(data_frame)
    
    drop_col = list()
    for yellow in yellow_field_list :
        if yellow in df_col_names :
            drop_col.append(yellow)
            
    df = data_frame.drop(drop_col, axis=1)
    
    if 'id' in list(df) :
        df = df.drop(['id'], axis=1)
    
    return df

In [88]:
def sort_dataset_state_dist_house(data_frame) :
    return (data_frame.sort(['state', 'district', 'house_no', 'house_hold_no'])).reset_index(drop=True)

In [233]:
mort_field_list = lowercase_32Char_list(get_sheet_field_names(AHS_struct_workbook, "MORT"))
wps_field_list = lowercase_32Char_list(get_sheet_field_names(AHS_struct_workbook, "WPS"))
comb_field_list = lowercase_32Char_list(get_sheet_field_names(AHS_struct_workbook, "COMB"))
women_field_list = lowercase_32Char_list(get_sheet_field_names(AHS_struct_workbook, "WOMAN"))

In [90]:
AHS_mort = pd.read_csv(data_path + "22_AHS_MORT.csv", sep="|")

In [228]:
AHS_wps = pd.read_csv(data_path + "22_AHS_WPS.csv", sep="|")

//anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (206,340) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [229]:
AHS_comb = pd.read_csv(data_path + "22_AHS_COMB.csv", sep="|")

//anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [231]:
AHS_women = pd.read_csv(data_path + "22_AHS_WOMEN.csv", sep="|")

//anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (118,147,178,185) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [91]:
AHS_mort_clean = remove_yellow_fields(AHS_mort, mort_field_list[0])

In [92]:
AHS_mort_clean

,house_no,house_hold_no,state,district,rural,stratum_code,psu_id,m_serial_no,deceased_sex,date_of_death,...,housestatus,householdstatus,isheadchanged,fidh,fidx,as,wt,schedule_id,year,v126
0,104,1,22,10,2,0,100660545,83,2,9,...,NaN,NaN,NaN,NaN,1.794122e+11,16.207033,26.639999,4,1,NaN
1,54,1,22,10,2,0,100659542,54,1,8,...,NaN,NaN,NaN,NaN,1.805322e+11,17.562895,26.639999,4,1,NaN
2,116,1,22,10,2,0,100659538,116,1,22,...,NaN,NaN,NaN,NaN,1.811522e+11,18.616802,26.639999,4,1,NaN
3,48,1,22,10,1,2,100660728,51,2,18,...,NaN,NaN,NaN,NaN,1.824722e+11,8.208295,22.129999,4,1,NaN
4,213,1,22,10,1,2,100660775,180,1,12,...,NaN,NaN,NaN,NaN,1.844122e+11,1.687450,22.129999,4,1,NaN
5,248,1,22,10,1,2,100660745,212,2,25,...,NaN,NaN,NaN,NaN,1.848422e+11,7.299030,22.129999,4,1,NaN
6,385,1,22,10,1,2,100660749,352,1,0,...,NaN,NaN,NaN,NaN,1.865922e+11,-0.567529,22.129999,4,1,NaN
7,115,2,22,10,1,1,100661091,98,2,15,...,NaN,NaN,NaN,NaN,1.884022e+11,-2.690575,33.220001,4,1,NaN
8,289,1,22,10,1,1,100661072,252,2,16,...,NaN,NaN,NaN,NaN,1.904022e+11,-1.357093,33.220001,4,1,NaN
9,455,1,22,10,1,1,100661073,377,2,0,...,NaN,NaN,NaN,NaN,1.921522e+11,-2.538779,33.220001,4,1,NaN
10,90,1,22,10,1,1,100659253,6,2,3,...,NaN,NaN,NaN,NaN,1.934422e+11,-0.790841,33.220001,4,1,NaN
11,155,1,22,10,1,1,100659273,14,2,25,...,NaN,NaN,NaN,NaN,1.941322e+11,-0.790841,33.220001,4,1,NaN
12,238,1,22,10,1,1,100659259,21,2,14,...,NaN,NaN,NaN,NaN,1.950222e+11,-3.996796,33.220001,4,1,NaN
13,119,1,22,10,2,0,100659067,119,2,6,...,NaN,NaN,NaN,NaN,1.970722e+11,-1.050765,26.639999,4,1,NaN
14,160,1,22,10,2,0,100659062,175,2,25,...,NaN,NaN,NaN,NaN,1.978022e+11,-1.412150,26.639999,4,1,NaN
15,13,1,22,10,1,1,100659870,1,1,0,...,NaN,NaN,NaN,NaN,1.989622e+11,-5.492937,33.220001,4,1,NaN
16,15,2,22,10,1,1,100659784,16,2,0,...,NaN,NaN,NaN,NaN,2.001322e+11,0.241480,33.220001,4,1,NaN
17,87,2,22,10,1,1,100659803,90,1,13,...,NaN,NaN,NaN,NaN,2.010622e+11,5.286699,33.220001,4,1,NaN
18,119,1,22,10,1,1,100659749,130,2,14,...,NaN,NaN,NaN,NaN,2.015122e+11,1.693590,33.220001,4,1,NaN
19,159,1,22,10,1,1,100659797,176,1,11,...,NaN,NaN,NaN,NaN,2.020722e+11,0.262673,33.220001,4,1,NaN
20,227,2,22,10,1,1,100659773,228,2,18,...,NaN,NaN,NaN,NaN,2.028022e+11,0.241480,33.220001,4,1,NaN
21,306,1,22,10,1,1,100659786,302,1,12,...,NaN,NaN,NaN,NaN,2.037222e+11,-1.029572,33.220001,4,1,NaN
22,361,1,22,10,1,1,100659792,360,2,9,...,NaN,NaN,NaN,NaN,2.043422e+11,2.217529,33.220001,4,1,NaN
23,107,1,22,10,2,0,100661593,80,1,8,...,NaN,NaN,NaN,NaN,2.055622e+11,10.756343,26.639999,4,1,NaN
24,95,1,22,10,2,0,100660838,81,1,1,...,NaN,NaN,NaN,NaN,2.081322e+11,0.659108,26.639999,4,1,NaN
25,139,1,22,10,2,0,100660844,110,1,10,...,NaN,NaN,NaN,NaN,2.085922e+11,-0.479140,26.639999,4,1,NaN
26,7,1,22,10,2,0,100661141,6,2,0,...,NaN,NaN,NaN,NaN,2.117622e+11,15.276037,26.639999,4,1,NaN
27,89,2,22,10,2,0,100661154,83,2,0,...,NaN,NaN,NaN,NaN,2.127322e+11,-2.219974,26.639999,4,1,NaN
28,15,1,22,10,2,0,100661649,12,1,11,...,NaN,NaN,NaN,NaN,2.131922e+11,8.948514,26.639999,4,1,NaN
29,125,1,22,10,2,0,100661647,119,1,11,...,NaN,NaN,NaN,NaN,2.145222e+11,0.241480,26.639999,4,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44221,174,1,22,13,1,2,100669021,173,1,18,...,1.0,1.0,2.0,2.213056e+14,NaN,NaN,5.620000,4,3,NaN
44222,314,1,22,13,1,2,100668966,313,2,0,...,1.0,1.0,2.0,2.213056e+14,NaN,NaN,5.620000,4,3,NaN
44223,410,1,22,13,1,2,100669004,97,2,0,...,1.0,1.0,2.0,2.213056e+14,NaN,NaN,5.620000,4,3,NaN
44224,278,1,22,13,1,2,100670301,215,2,0,...,1.0,1.0,2.0,2.213057e+14,NaN,NaN,5.620000,4,3,NaN
44225,30,1,22,13,1,2,100670155,27,1,0,...,1.0,1.0,2.0,2.213058e+14,NaN,NaN,5.620000,4,3,NaN
44226,194,1,22,13,1,2,100670151,203,1,0,...,1.0,1.0,2.0,2.213058e+14,NaN,NaN,5.620000,4,3,NaN
44227,414,1,22,13,1,2,100670173,425,2,0,...,1.0,1.0,2.0,2.213058e+14,NaN,NaN,5.620000,4,3,NaN
44228,143,3,22,13,1,2,100669183,160,2,9,...,1.0,1.0,2.0,2.213059e+14,NaN,NaN,5.620000,4,3,NaN
44229,232,1,22,13,1,2,100669135,374,1,21,...,1.0,1.0,2.0,2.213059e+14,NaN,NaN,5.620000,4,3,NaN
44230,22,1,22,13,1,2,100668846,21,2,21,...,1.0,1.0,2.0,2.213060e+14,NaN,NaN,5.620000,4,3,NaN
44231,219,1,22,13,1,2,100668823,179,2,15,...,1.0,1.0,2.0,2.213060e+14,NaN,NaN,5.620000,4,3,NaN
44232,39,1,22,13,1,2,100668693,74,2,0,...,1.0,1.0,2.0,2.213061e+14,NaN,NaN,5.620000,4,3,NaN
44233,493,1,22,13,1,2,100668707,440,1,0,...,1.0,1.0,2.0,2.213061e+14,NaN,NaN,5.620000,4,3,NaN
44234,134,1,22,13,1,2,100670730,147,2,11,...,1.0,1.0,2.0,2.213062e+14,NaN,NaN,5.620000,4,3,NaN
44235,83,1,22,13,1,2,100670875,87,1,9,...,1.0,1.0,2.0,2.213063e+14,NaN,NaN,5.620000,4,3,NaN
44236,59,1,22,13,1,2,100669617,42,1,4,...,1.0,1.0,2.0,2.213064e+14,NaN,NaN,5.620000,4,3,NaN
44237,62,1,22,13,1,2,100669300,61,1,12,...,1.0,1.0,2.0,2.213066e+14,NaN,NaN,5.620000,4,3,NaN
44238,268,1,22,13,1,2,100669319,240,1,10,...,1.0,1.0,2.0,2.213066e+14,NaN,NaN,5.620000,4,3,NaN
44239,201,1,22,13,1,2,100670608,206,2,8,...,1.0,1.0,2.0,2.213067e+14,NaN,NaN,5.620000,4,3,NaN
44240,247,1,22,13,1,2,100670463,240,1,3,...,1.0,1.0,2.0,2.213068e+14,NaN,NaN,5.620000,4,3,NaN
44241,507,1,22,13,1,2,100670065,403,2,26,...,1.0,1.0,2.0,2.213069e+14,NaN,NaN,5.620000,4,3,NaN
44242,42,1,22,13,1,2,100670977,63,2,2,...,1.0,1.0,2.0,2.213070e+14,NaN,NaN,5.620000,4,3,NaN
44243,13,1,22,13,1,2,100670100,12,1,5,...,1.0,1.0,2.0,2.213071e+14,NaN,NaN,5.620000,4,3,NaN
44244,154,1,22,13,1,2,100670097,175,1,15,...,1.0,1.0,2.0,2.213071e+14,NaN,NaN,5.620000,4,3,NaN
44245,281,1,22,13,1,2,100670084,311,2,22,...,1.0,1.0,2.0,2.213071e+14,NaN,NaN,5.620000,4,3,NaN
44246,76,1,22,13,1,2,100671398,76,1,3,...,1.0,1.0,2.0,2.213073e+14,NaN,NaN,5.620000,4,3,NaN
44247,328,2,22,13,1,2,100671444,299,2,0,...,1.0,1.0,2.0,2.213073e+14,NaN,NaN,5.620000,4,3,NaN
44248,60,1,22,13,1,2,100668479,39,1,26,...,1.0,1.0,2.0,2.213074e+14,NaN,NaN,5.620000,4,3,NaN
44249,245,1,22,13,1,2,100668488,201,2,0,...,1.0,1.0,2.0,2.213074e+14,NaN,NaN,5.620000,4,3,NaN
44250,318,3,22,13,1,2,100668503,262,1,7,...,1.0,1.0,2.0,2.213074e+14,NaN,NaN,5.620000,4,3,NaN

In [93]:
AHS_mort_clean_sorted = sort_dataset_state_dist_house(AHS_mort_clean)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

In [94]:
AHS_mort_clean_sorted

,house_no,house_hold_no,state,district,rural,stratum_code,psu_id,m_serial_no,deceased_sex,date_of_death,...,housestatus,householdstatus,isheadchanged,fidh,fidx,as,wt,schedule_id,year,v126
0,1,1,22,1,1,1,100635635,1,2,0,...,NaN,NaN,NaN,NaN,7.929220e+10,-4.786023,16.299999,4,1,NaN
1,1,1,22,1,1,1,100635396,1,1,8,...,NaN,NaN,NaN,NaN,8.298220e+10,-4.790645,16.299999,4,1,NaN
2,1,1,22,1,1,1,100635353,1,1,0,...,NaN,NaN,NaN,NaN,1.075322e+11,-2.521897,16.299999,4,1,NaN
3,1,1,22,1,1,1,100634959,2,1,13,...,1.0,1.0,2.0,2.201006e+14,NaN,NaN,16.299999,4,3,NaN
4,1,1,22,1,1,1,100634956,1,1,21,...,1.0,1.0,2.0,2.201006e+14,NaN,NaN,16.299999,4,3,NaN
5,1,1,22,1,1,1,100635466,1,2,0,...,1.0,1.0,2.0,2.201022e+14,NaN,NaN,16.299999,4,3,NaN
6,1,1,22,1,1,1,100635773,1,1,0,...,NaN,NaN,NaN,NaN,7.117220e+10,-1.845362,16.299999,4,1,NaN
7,1,1,22,1,1,1,100634957,1,2,0,...,NaN,NaN,NaN,NaN,6.692201e+09,-4.537548,16.299999,4,1,NaN
8,1,1,22,1,1,1,100634958,1,1,9,...,1.0,1.0,2.0,2.201006e+14,NaN,NaN,16.299999,4,2,NaN
9,1,2,22,1,1,2,100634897,391,2,1,...,1.0,1.0,2.0,2.201036e+14,NaN,NaN,8.860000,4,2,NaN
10,1,2,22,1,2,0,100635865,2,2,26,...,1.0,1.0,2.0,2.201055e+14,NaN,NaN,12.630000,4,3,NaN
11,2,1,22,1,1,1,100635703,2,2,6,...,NaN,NaN,NaN,NaN,4.090220e+10,8.460409,16.299999,4,1,NaN
12,2,1,22,1,2,0,100634738,3,2,0,...,NaN,NaN,NaN,NaN,1.134222e+11,8.023195,12.630000,4,1,NaN
13,2,1,22,1,1,2,100634882,3,2,10,...,NaN,NaN,NaN,NaN,8.524220e+10,-5.492937,8.860000,4,1,NaN
14,2,1,22,1,1,2,100634881,3,2,4,...,1.0,1.0,2.0,2.201036e+14,NaN,NaN,8.860000,4,2,NaN
15,2,1,22,1,2,0,100635163,2,2,31,...,1.0,1.0,2.0,2.201057e+14,NaN,NaN,12.630000,4,3,NaN
16,2,1,22,1,1,1,100636018,2,1,0,...,NaN,NaN,NaN,NaN,2.297220e+10,1.349596,16.299999,4,1,NaN
17,2,1,22,1,1,2,100634880,2,2,1,...,NaN,NaN,NaN,NaN,8.524220e+10,-5.492937,8.860000,4,1,NaN
18,2,1,22,1,1,1,100635653,2,1,0,...,NaN,NaN,NaN,NaN,7.890220e+10,-3.743107,16.299999,4,1,NaN
19,2,1,22,1,2,0,100634662,1,2,21,...,NaN,NaN,NaN,NaN,9.319220e+10,9.574970,12.630000,4,1,NaN
20,2,1,22,1,1,1,100635082,1,2,0,...,NaN,NaN,NaN,NaN,9.510220e+10,-4.898933,16.299999,4,1,NaN
21,2,2,22,1,1,1,100634722,4,1,6,...,1.0,1.0,2.0,2.201011e+14,NaN,NaN,16.299999,4,2,NaN
22,3,1,22,1,1,1,100635698,3,1,3,...,NaN,NaN,NaN,NaN,4.091220e+10,7.609506,16.299999,4,1,NaN
23,3,1,22,1,1,1,100634719,3,2,0,...,NaN,NaN,NaN,NaN,3.042201e+09,-4.388279,16.299999,4,1,NaN
24,3,1,22,1,2,0,100635875,4,1,13,...,NaN,NaN,NaN,NaN,1.304222e+11,9.567861,12.630000,4,1,NaN
25,3,1,22,1,2,0,100635874,4,2,15,...,1.0,1.0,2.0,2.201055e+14,NaN,NaN,12.630000,4,3,NaN
26,3,1,22,1,1,1,100634770,28,1,1,...,1.0,1.0,2.0,2.201020e+14,NaN,NaN,16.299999,4,2,NaN
27,3,1,22,1,2,0,100634604,3,2,0,...,1.0,1.0,2.0,2.201045e+14,NaN,NaN,12.630000,4,2,NaN
28,3,1,22,1,2,0,100634652,3,2,0,...,1.0,1.0,2.0,2.201054e+14,NaN,NaN,12.630000,4,2,NaN
29,3,1,22,1,2,0,100634869,2,1,10,...,1.0,1.0,2.0,2.201060e+14,NaN,NaN,12.630000,4,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44221,586,1,22,16,1,1,100677354,464,2,0,...,1.0,1.0,2.0,2.216029e+14,NaN,NaN,14.570000,4,2,NaN
44222,586,1,22,16,1,1,100677352,408,2,0,...,1.0,1.0,2.0,2.216029e+14,NaN,NaN,14.570000,4,2,NaN
44223,587,1,22,16,1,1,100678026,357,2,0,...,1.0,1.0,2.0,2.216023e+14,NaN,NaN,14.570000,4,2,NaN
44224,587,1,22,16,1,1,100678027,357,2,0,...,1.0,1.0,2.0,2.216023e+14,NaN,NaN,14.570000,4,3,NaN
44225,589,1,22,16,1,1,100677298,413,2,0,...,NaN,NaN,NaN,NaN,7.214222e+10,-3.635411,14.570000,4,1,NaN
44226,590,1,22,16,1,1,100677295,411,1,0,...,1.0,1.0,2.0,2.216029e+14,NaN,NaN,14.570000,4,2,NaN
44227,590,1,22,16,1,1,100677289,411,1,0,...,1.0,1.0,2.0,2.216029e+14,NaN,NaN,14.570000,4,3,NaN
44228,591,1,22,16,1,1,100677372,16,1,26,...,NaN,NaN,NaN,NaN,7.216222e+10,-3.980940,14.570000,4,1,NaN
44229,592,1,22,16,1,1,100677332,416,1,0,...,NaN,NaN,NaN,NaN,7.217222e+10,-3.635411,14.570000,4,1,NaN
44230,596,1,22,16,1,1,100677364,420,1,0,...,NaN,NaN,NaN,NaN,7.221222e+10,-3.635411,14.570000,4,1,NaN
44231,596,1,22,16,1,1,100678207,532,2,0,...,1.0,1.0,2.0,2.216030e+14,NaN,NaN,14.570000,4,3,NaN
44232,596,1,22,16,1,1,100678208,532,2,0,...,1.0,1.0,2.0,2.216030e+14,NaN,NaN,14.570000,4,2,NaN
44233,597,1,22,16,1,1,100677977,366,1,1,...,NaN,NaN,NaN,NaN,1.084022e+11,-2.349951,14.570000,4,1,NaN
44234,598,1,22,16,1,1,100677286,421,2,0,...,NaN,NaN,NaN,NaN,7.223222e+10,-3.635411,14.570000,4,1,NaN
44235,602,1,22,16,1,1,100677373,425,1,0,...,NaN,NaN,NaN,NaN,7.227222e+10,-3.996796,14.570000,4,1,NaN
44236,604,1,22,16,1,1,100677320,427,2,0,...,NaN,NaN,NaN,NaN,7.229222e+10,-3.288984,14.570000,4,1,NaN
44237,605,1,22,16,1,1,100677319,428,2,0,...,NaN,NaN,NaN,NaN,7.230222e+10,-3.996796,14.570000,4,1,NaN
44238,606,1,22,16,1,1,100677318,429,2,0,...,NaN,NaN,NaN,NaN,7.231222e+10,-4.429260,14.570000,4,1,NaN
44239,617,1,22,16,1,1,100677338,435,2,0,...,1.0,1.0,2.0,2.216029e+14,NaN,NaN,14.570000,4,2,NaN
44240,617,1,22,16,1,1,100677349,435,2,0,...,1.0,1.0,2.0,2.216029e+14,NaN,NaN,14.570000,4,3,NaN
44241,626,1,22,16,1,1,100677992,393,2,0,...,NaN,NaN,NaN,NaN,1.086922e+11,-1.880871,14.570000,4,1,NaN
44242,645,1,22,16,1,1,100677983,406,1,0,...,NaN,NaN,NaN,NaN,1.088822e+11,0.373353,14.570000,4,1,NaN
44243,655,1,22,16,1,1,100678230,571,1,0,...,1.0,1.0,2.0,2.216030e+14,NaN,NaN,14.570000,4,3,NaN
44244,655,1,22,16,1,1,100678231,571,1,0,...,1.0,1.0,2.0,2.216030e+14,NaN,NaN,14.570000,4,2,NaN
44245,661,1,22,16,1,1,100677979,67,2,24,...,NaN,NaN,NaN,NaN,1.090422e+11,-2.587785,14.570000,4,1,NaN
44246,673,1,22,16,1,1,100678019,421,1,0,...,NaN,NaN,NaN,NaN,1.091622e+11,-1.988567,14.570000,4,1,NaN
44247,677,1,22,16,1,1,100678024,411,2,0,...,1.0,1.0,2.0,2.216023e+14,NaN,NaN,14.570000,4,2,NaN
44248,677,1,22,16,1,1,100678022,411,2,0,...,1.0,1.0,2.0,2.216023e+14,NaN,NaN,14.570000,4,3,NaN
44249,699,1,22,16,1,1,100678020,59,1,28,...,NaN,NaN,NaN,NaN,1.094222e+11,-0.696754,14.570000,4,1,NaN
44250,714,1,22,16,1,1,100677978,68,1,17,...,NaN,NaN,NaN,NaN,1.095722e+11,-1.606422,14.570000,4,1,NaN

In [95]:
def district_wise_dataset(dataframe_state) :
    sorted_state = sort_dataset_state_dist_house(dataframe_state)
    unique_dist = sorted_state['district'].unique()
    out = list()
    
    for dist in unique_dist :
        dist_sort = (sorted_state[sorted_state['district'] == dist]).reset_index(drop=True)
        out.append([dist, dist_sort])
        
    return (out)

In [97]:
mort_dist_wise = district_wise_dataset(AHS_mort_clean_sorted)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

In [152]:
def one_hot_df(data_frame, one_hot_colnames) :
    colnames = list(data_frame)
    hot_col = list()
    
    for hot in one_hot_colnames :
        if hot in colnames :
            hot_col.append(hot)
            
    if 'district' in hot_col :
        hot_col.remove('district')
    if 'state' in hot_col :
        hot_col.remove('state')
            
    df = pd.get_dummies(data_frame, columns=hot_col)
    return (df)

In [101]:
mort___ = one_hot_df(mort_dist_wise[0][1], mort_field_list[4])

In [102]:
def house_no_wise_dataset(dist_data_frame) :
    unique_house = dist_data_frame['house_no'].unique()
    out = list()

    for house in unique_house :
        house_sort = (dist_data_frame[dist_data_frame['house_no'] == house]).reset_index(drop=True)
        out.append([house, house_sort])
    
    return (out)

In [103]:
mort_house_wise = house_no_wise_dataset(mort_dist_wise[0][1])

In [104]:
len(mort_house_wise)

342

In [105]:
mort_house_wise[0][1]

,house_no,house_hold_no,state,district,rural,stratum_code,psu_id,m_serial_no,deceased_sex,date_of_death,...,housestatus,householdstatus,isheadchanged,fidh,fidx,as,wt,schedule_id,year,v126
0,1,1,22,1,1,1,100635635,1,2,0,...,NaN,NaN,NaN,NaN,7.929220e+10,-4.786023,16.299999,4,1,NaN
1,1,1,22,1,1,1,100635396,1,1,8,...,NaN,NaN,NaN,NaN,8.298220e+10,-4.790645,16.299999,4,1,NaN
2,1,1,22,1,1,1,100635353,1,1,0,...,NaN,NaN,NaN,NaN,1.075322e+11,-2.521897,16.299999,4,1,NaN
3,1,1,22,1,1,1,100634959,2,1,13,...,1.0,1.0,2.0,2.201006e+14,NaN,NaN,16.299999,4,3,NaN
4,1,1,22,1,1,1,100634956,1,1,21,...,1.0,1.0,2.0,2.201006e+14,NaN,NaN,16.299999,4,3,NaN
5,1,1,22,1,1,1,100635466,1,2,0,...,1.0,1.0,2.0,2.201022e+14,NaN,NaN,16.299999,4,3,NaN
6,1,1,22,1,1,1,100635773,1,1,0,...,NaN,NaN,NaN,NaN,7.117220e+10,-1.845362,16.299999,4,1,NaN
7,1,1,22,1,1,1,100634957,1,2,0,...,NaN,NaN,NaN,NaN,6.692201e+09,-4.537548,16.299999,4,1,NaN
8,1,1,22,1,1,1,100634958,1,1,9,...,1.0,1.0,2.0,2.201006e+14,NaN,NaN,16.299999,4,2,NaN
9,1,2,22,1,1,2,100634897,391,2,1,...,1.0,1.0,2.0,2.201036e+14,NaN,NaN,8.860000,4,2,NaN
10,1,2,22,1,2,0,100635865,2,2,26,...,1.0,1.0,2.0,2.201055e+14,NaN,NaN,12.630000,4,3,NaN

In [160]:
def recompile_district_dataset(house_level_data_list) :
    df_list = list()
    
    for i in range(len(house_level_data_list)) :
        house_df = house_level_data_list[i][1]
        df_list.append(house_df)
        
    dist_data = pd.concat(df_list)
    dist_data = dist_data.reset_index(drop=True)
    return(dist_data)

In [147]:
def recompile_state_dataset(dist_level_data_list) :
    df_list = list()
    
    for i in range(len(dist_level_data_list)) :
        dist_df = dist_level_data_list[i]
        df_list.append(dist_df)
        
    state_data = pd.concat(df_list)
    return(state_data)

In [107]:
dist__1 = recompile_district_dataset(house_no_wise_dataset(mort_dist_wise[0][1]))

In [108]:
dist__1

,house_no,house_hold_no,state,district,rural,stratum_code,psu_id,m_serial_no,deceased_sex,date_of_death,...,housestatus,householdstatus,isheadchanged,fidh,fidx,as,wt,schedule_id,year,v126
0,1,1,22,1,1,1,100635635,1,2,0,...,NaN,NaN,NaN,NaN,7.929220e+10,-4.786023,16.299999,4,1,NaN
1,1,1,22,1,1,1,100635396,1,1,8,...,NaN,NaN,NaN,NaN,8.298220e+10,-4.790645,16.299999,4,1,NaN
2,1,1,22,1,1,1,100635353,1,1,0,...,NaN,NaN,NaN,NaN,1.075322e+11,-2.521897,16.299999,4,1,NaN
3,1,1,22,1,1,1,100634959,2,1,13,...,1.0,1.0,2.0,2.201006e+14,NaN,NaN,16.299999,4,3,NaN
4,1,1,22,1,1,1,100634956,1,1,21,...,1.0,1.0,2.0,2.201006e+14,NaN,NaN,16.299999,4,3,NaN
5,1,1,22,1,1,1,100635466,1,2,0,...,1.0,1.0,2.0,2.201022e+14,NaN,NaN,16.299999,4,3,NaN
6,1,1,22,1,1,1,100635773,1,1,0,...,NaN,NaN,NaN,NaN,7.117220e+10,-1.845362,16.299999,4,1,NaN
7,1,1,22,1,1,1,100634957,1,2,0,...,NaN,NaN,NaN,NaN,6.692201e+09,-4.537548,16.299999,4,1,NaN
8,1,1,22,1,1,1,100634958,1,1,9,...,1.0,1.0,2.0,2.201006e+14,NaN,NaN,16.299999,4,2,NaN
9,1,2,22,1,1,2,100634897,391,2,1,...,1.0,1.0,2.0,2.201036e+14,NaN,NaN,8.860000,4,2,NaN
10,1,2,22,1,2,0,100635865,2,2,26,...,1.0,1.0,2.0,2.201055e+14,NaN,NaN,12.630000,4,3,NaN
0,2,1,22,1,1,1,100635703,2,2,6,...,NaN,NaN,NaN,NaN,4.090220e+10,8.460409,16.299999,4,1,NaN
1,2,1,22,1,2,0,100634738,3,2,0,...,NaN,NaN,NaN,NaN,1.134222e+11,8.023195,12.630000,4,1,NaN
2,2,1,22,1,1,2,100634882,3,2,10,...,NaN,NaN,NaN,NaN,8.524220e+10,-5.492937,8.860000,4,1,NaN
3,2,1,22,1,1,2,100634881,3,2,4,...,1.0,1.0,2.0,2.201036e+14,NaN,NaN,8.860000,4,2,NaN
4,2,1,22,1,2,0,100635163,2,2,31,...,1.0,1.0,2.0,2.201057e+14,NaN,NaN,12.630000,4,3,NaN
5,2,1,22,1,1,1,100636018,2,1,0,...,NaN,NaN,NaN,NaN,2.297220e+10,1.349596,16.299999,4,1,NaN
6,2,1,22,1,1,2,100634880,2,2,1,...,NaN,NaN,NaN,NaN,8.524220e+10,-5.492937,8.860000,4,1,NaN
7,2,1,22,1,1,1,100635653,2,1,0,...,NaN,NaN,NaN,NaN,7.890220e+10,-3.743107,16.299999,4,1,NaN
8,2,1,22,1,2,0,100634662,1,2,21,...,NaN,NaN,NaN,NaN,9.319220e+10,9.574970,12.630000,4,1,NaN
9,2,1,22,1,1,1,100635082,1,2,0,...,NaN,NaN,NaN,NaN,9.510220e+10,-4.898933,16.299999,4,1,NaN
10,2,2,22,1,1,1,100634722,4,1,6,...,1.0,1.0,2.0,2.201011e+14,NaN,NaN,16.299999,4,2,NaN
0,3,1,22,1,1,1,100635698,3,1,3,...,NaN,NaN,NaN,NaN,4.091220e+10,7.609506,16.299999,4,1,NaN
1,3,1,22,1,1,1,100634719,3,2,0,...,NaN,NaN,NaN,NaN,3.042201e+09,-4.388279,16.299999,4,1,NaN
2,3,1,22,1,2,0,100635875,4,1,13,...,NaN,NaN,NaN,NaN,1.304222e+11,9.567861,12.630000,4,1,NaN
3,3,1,22,1,2,0,100635874,4,2,15,...,1.0,1.0,2.0,2.201055e+14,NaN,NaN,12.630000,4,3,NaN
4,3,1,22,1,1,1,100634770,28,1,1,...,1.0,1.0,2.0,2.201020e+14,NaN,NaN,16.299999,4,2,NaN
5,3,1,22,1,2,0,100634604,3,2,0,...,1.0,1.0,2.0,2.201045e+14,NaN,NaN,12.630000,4,2,NaN
6,3,1,22,1,2,0,100634652,3,2,0,...,1.0,1.0,2.0,2.201054e+14,NaN,NaN,12.630000,4,2,NaN
7,3,1,22,1,2,0,100634869,2,1,10,...,1.0,1.0,2.0,2.201060e+14,NaN,NaN,12.630000,4,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,435,1,22,1,1,2,100635994,382,1,0,...,NaN,NaN,NaN,NaN,4.651220e+10,1.834951,8.860000,4,1,NaN
0,453,1,22,1,1,2,100635991,400,2,8,...,NaN,NaN,NaN,NaN,4.671220e+10,-2.079862,8.860000,4,1,NaN
0,454,1,22,1,1,2,100635977,401,2,12,...,NaN,NaN,NaN,NaN,4.672220e+10,-2.329191,8.860000,4,1,NaN
0,458,1,22,1,1,1,100635897,266,1,0,...,NaN,NaN,NaN,NaN,1.054422e+11,-1.942193,16.299999,4,1,NaN
0,465,1,22,1,1,1,100635906,272,1,0,...,NaN,NaN,NaN,NaN,1.052622e+11,-3.148898,16.299999,4,1,NaN
0,472,2,22,1,1,1,100635943,278,1,0,...,NaN,NaN,NaN,NaN,1.053522e+11,-4.920126,16.299999,4,1,NaN
0,478,1,22,1,1,1,100635932,232,1,0,...,NaN,NaN,NaN,NaN,1.054122e+11,-4.191814,16.299999,4,1,NaN
1,478,1,22,1,1,1,100635928,222,1,0,...,NaN,NaN,NaN,NaN,1.054122e+11,-4.191814,16.299999,4,1,NaN
0,487,1,22,1,1,1,100635917,289,2,0,...,NaN,NaN,NaN,NaN,1.055322e+11,-2.320571,16.299999,4,1,NaN
1,487,1,22,1,1,1,100635918,229,2,0,...,NaN,NaN,NaN,NaN,1.055322e+11,-2.320571,16.299999,4,1,NaN
0,488,1,22,1,1,2,100635992,431,2,24,...,NaN,NaN,NaN,NaN,4.708220e+10,4.867621,8.860000,4,1,NaN
0,492,1,22,1,1,1,100635919,291,1,23,...,NaN,NaN,NaN,NaN,1.055722e+11,-0.406952,16.299999,4,1,NaN
0,493,1,22,1,1,1,100635915,292,2,20,...,NaN,NaN,NaN,NaN,1.055822e+11,-3.510282,16.299999,4,1,NaN
1,493,1,22,1,1,1,100635914,395,2,0,...,1.0,1.0,2.0,2.201029e+14,NaN,NaN,16.299999,4,3,NaN
0,495,1,22,1,1,2,100635972,439,1,24,...,NaN,NaN,NaN,NaN,4.716220e+10,0.863286,8.860000,4,1,NaN
0,496,1,22,1,1,1,100635902,294,2,0,...,NaN,NaN,NaN,NaN,1.056122e+11,-2.579466,16.299999,4,1,NaN
0,497,1,22,1,1,1,100635924,295,2,0,...,NaN,NaN,NaN,NaN,1.056222e+11,-2.092424,16.299999,4,1,NaN
0,512,2,22,1,1,2,100636004,496,1,13,...,1.0,1.0,2.0,2.201033e+14,NaN,NaN,8.860000,4,3,NaN
0,516,1,22,1,1,1,100635905,304,1,0,...,NaN,NaN,NaN,NaN,1.058122e+11,-3.510282,16.299999,4,1,NaN
0,521,1,22,1,1,1,100635898,308,1,0,...,NaN,NaN,NaN,NaN,1.058622e+11,-1.389710,16.299999,4,1,NaN
0,527,1,22,1,1,1,100635935,312,1,0,...,NaN,NaN,NaN,NaN,1.059322e+11,-4.191814,16.299999,4,1,NaN
0,542,1,22,1,1,1,100635937,390,1,3,...,1.0,1.0,2.0,2.201029e+14,NaN,NaN,16.299999,4,2,NaN
0,549,3,22,1,1,2,100636008,545,1,0,...,1.0,4.0,NaN,2.201033e+14,NaN,NaN,8.860000,4,2,NaN
0,553,1,22,1,1,1,100635916,327,2,27,...,NaN,NaN,NaN,NaN,1.062022e+11,-1.984568,16.299999,4,1,NaN
0,555,1,22,1,1,1,100635926,329,1,9,...,NaN,NaN,NaN,NaN,1.062322e+11,-3.148898,16.299999,4,1,NaN
0,556,1,22,1,1,1,100635907,330,2,8,...,NaN,NaN,NaN,NaN,1.062422e+11,-0.406952,16.299999,4,1,NaN
0,573,1,22,1,1,1,100635911,340,2,1,...,NaN,NaN,NaN,NaN,1.064322e+11,-2.679482,16.299999,4,1,NaN
0,574,1,22,1,1,1,100635925,341,2,0,...,NaN,NaN,NaN,NaN,1.064422e+11,-2.681955,16.299999,4,1,NaN
0,617,2,22,1,1,1,100635901,415,2,4,...,1.0,5.0,NaN,2.201029e+14,NaN,NaN,16.299999,4,2,NaN
0,664,1,22,1,1,1,100635896,369,2,0,...,NaN,NaN,NaN,NaN,1.072222e+11,-2.345953,16.299999,4,1,NaN

In [109]:
mort_dist_wise[0][1]

,house_no,house_hold_no,state,district,rural,stratum_code,psu_id,m_serial_no,deceased_sex,date_of_death,...,housestatus,householdstatus,isheadchanged,fidh,fidx,as,wt,schedule_id,year,v126
0,1,1,22,1,1,1,100635635,1,2,0,...,NaN,NaN,NaN,NaN,7.929220e+10,-4.786023,16.299999,4,1,NaN
1,1,1,22,1,1,1,100635396,1,1,8,...,NaN,NaN,NaN,NaN,8.298220e+10,-4.790645,16.299999,4,1,NaN
2,1,1,22,1,1,1,100635353,1,1,0,...,NaN,NaN,NaN,NaN,1.075322e+11,-2.521897,16.299999,4,1,NaN
3,1,1,22,1,1,1,100634959,2,1,13,...,1.0,1.0,2.0,2.201006e+14,NaN,NaN,16.299999,4,3,NaN
4,1,1,22,1,1,1,100634956,1,1,21,...,1.0,1.0,2.0,2.201006e+14,NaN,NaN,16.299999,4,3,NaN
5,1,1,22,1,1,1,100635466,1,2,0,...,1.0,1.0,2.0,2.201022e+14,NaN,NaN,16.299999,4,3,NaN
6,1,1,22,1,1,1,100635773,1,1,0,...,NaN,NaN,NaN,NaN,7.117220e+10,-1.845362,16.299999,4,1,NaN
7,1,1,22,1,1,1,100634957,1,2,0,...,NaN,NaN,NaN,NaN,6.692201e+09,-4.537548,16.299999,4,1,NaN
8,1,1,22,1,1,1,100634958,1,1,9,...,1.0,1.0,2.0,2.201006e+14,NaN,NaN,16.299999,4,2,NaN
9,1,2,22,1,1,2,100634897,391,2,1,...,1.0,1.0,2.0,2.201036e+14,NaN,NaN,8.860000,4,2,NaN
10,1,2,22,1,2,0,100635865,2,2,26,...,1.0,1.0,2.0,2.201055e+14,NaN,NaN,12.630000,4,3,NaN
11,2,1,22,1,1,1,100635703,2,2,6,...,NaN,NaN,NaN,NaN,4.090220e+10,8.460409,16.299999,4,1,NaN
12,2,1,22,1,2,0,100634738,3,2,0,...,NaN,NaN,NaN,NaN,1.134222e+11,8.023195,12.630000,4,1,NaN
13,2,1,22,1,1,2,100634882,3,2,10,...,NaN,NaN,NaN,NaN,8.524220e+10,-5.492937,8.860000,4,1,NaN
14,2,1,22,1,1,2,100634881,3,2,4,...,1.0,1.0,2.0,2.201036e+14,NaN,NaN,8.860000,4,2,NaN
15,2,1,22,1,2,0,100635163,2,2,31,...,1.0,1.0,2.0,2.201057e+14,NaN,NaN,12.630000,4,3,NaN
16,2,1,22,1,1,1,100636018,2,1,0,...,NaN,NaN,NaN,NaN,2.297220e+10,1.349596,16.299999,4,1,NaN
17,2,1,22,1,1,2,100634880,2,2,1,...,NaN,NaN,NaN,NaN,8.524220e+10,-5.492937,8.860000,4,1,NaN
18,2,1,22,1,1,1,100635653,2,1,0,...,NaN,NaN,NaN,NaN,7.890220e+10,-3.743107,16.299999,4,1,NaN
19,2,1,22,1,2,0,100634662,1,2,21,...,NaN,NaN,NaN,NaN,9.319220e+10,9.574970,12.630000,4,1,NaN
20,2,1,22,1,1,1,100635082,1,2,0,...,NaN,NaN,NaN,NaN,9.510220e+10,-4.898933,16.299999,4,1,NaN
21,2,2,22,1,1,1,100634722,4,1,6,...,1.0,1.0,2.0,2.201011e+14,NaN,NaN,16.299999,4,2,NaN
22,3,1,22,1,1,1,100635698,3,1,3,...,NaN,NaN,NaN,NaN,4.091220e+10,7.609506,16.299999,4,1,NaN
23,3,1,22,1,1,1,100634719,3,2,0,...,NaN,NaN,NaN,NaN,3.042201e+09,-4.388279,16.299999,4,1,NaN
24,3,1,22,1,2,0,100635875,4,1,13,...,NaN,NaN,NaN,NaN,1.304222e+11,9.567861,12.630000,4,1,NaN
25,3,1,22,1,2,0,100635874,4,2,15,...,1.0,1.0,2.0,2.201055e+14,NaN,NaN,12.630000,4,3,NaN
26,3,1,22,1,1,1,100634770,28,1,1,...,1.0,1.0,2.0,2.201020e+14,NaN,NaN,16.299999,4,2,NaN
27,3,1,22,1,2,0,100634604,3,2,0,...,1.0,1.0,2.0,2.201045e+14,NaN,NaN,12.630000,4,2,NaN
28,3,1,22,1,2,0,100634652,3,2,0,...,1.0,1.0,2.0,2.201054e+14,NaN,NaN,12.630000,4,2,NaN
29,3,1,22,1,2,0,100634869,2,1,10,...,1.0,1.0,2.0,2.201060e+14,NaN,NaN,12.630000,4,2,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,435,1,22,1,1,2,100635994,382,1,0,...,NaN,NaN,NaN,NaN,4.651220e+10,1.834951,8.860000,4,1,NaN
1476,453,1,22,1,1,2,100635991,400,2,8,...,NaN,NaN,NaN,NaN,4.671220e+10,-2.079862,8.860000,4,1,NaN
1477,454,1,22,1,1,2,100635977,401,2,12,...,NaN,NaN,NaN,NaN,4.672220e+10,-2.329191,8.860000,4,1,NaN
1478,458,1,22,1,1,1,100635897,266,1,0,...,NaN,NaN,NaN,NaN,1.054422e+11,-1.942193,16.299999,4,1,NaN
1479,465,1,22,1,1,1,100635906,272,1,0,...,NaN,NaN,NaN,NaN,1.052622e+11,-3.148898,16.299999,4,1,NaN
1480,472,2,22,1,1,1,100635943,278,1,0,...,NaN,NaN,NaN,NaN,1.053522e+11,-4.920126,16.299999,4,1,NaN
1481,478,1,22,1,1,1,100635932,232,1,0,...,NaN,NaN,NaN,NaN,1.054122e+11,-4.191814,16.299999,4,1,NaN
1482,478,1,22,1,1,1,100635928,222,1,0,...,NaN,NaN,NaN,NaN,1.054122e+11,-4.191814,16.299999,4,1,NaN
1483,487,1,22,1,1,1,100635917,289,2,0,...,NaN,NaN,NaN,NaN,1.055322e+11,-2.320571,16.299999,4,1,NaN
1484,487,1,22,1,1,1,100635918,229,2,0,...,NaN,NaN,NaN,NaN,1.055322e+11,-2.320571,16.299999,4,1,NaN
1485,488,1,22,1,1,2,100635992,431,2,24,...,NaN,NaN,NaN,NaN,4.708220e+10,4.867621,8.860000,4,1,NaN
1486,492,1,22,1,1,1,100635919,291,1,23,...,NaN,NaN,NaN,NaN,1.055722e+11,-0.406952,16.299999,4,1,NaN
1487,493,1,22,1,1,1,100635915,292,2,20,...,NaN,NaN,NaN,NaN,1.055822e+11,-3.510282,16.299999,4,1,NaN
1488,493,1,22,1,1,1,100635914,395,2,0,...,1.0,1.0,2.0,2.201029e+14,NaN,NaN,16.299999,4,3,NaN
1489,495,1,22,1,1,2,100635972,439,1,24,...,NaN,NaN,NaN,NaN,4.716220e+10,0.863286,8.860000,4,1,NaN
1490,496,1,22,1,1,1,100635902,294,2,0,...,NaN,NaN,NaN,NaN,1.056122e+11,-2.579466,16.299999,4,1,NaN
1491,497,1,22,1,1,1,100635924,295,2,0,...,NaN,NaN,NaN,NaN,1.056222e+11,-2.092424,16.299999,4,1,NaN
1492,512,2,22,1,1,2,100636004,496,1,13,...,1.0,1.0,2.0,2.201033e+14,NaN,NaN,8.860000,4,3,NaN
1493,516,1,22,1,1,1,100635905,304,1,0,...,NaN,NaN,NaN,NaN,1.058122e+11,-3.510282,16.299999,4,1,NaN
1494,521,1,22,1,1,1,100635898,308,1,0,...,NaN,NaN,NaN,NaN,1.058622e+11,-1.389710,16.299999,4,1,NaN
1495,527,1,22,1,1,1,100635935,312,1,0,...,NaN,NaN,NaN,NaN,1.059322e+11,-4.191814,16.299999,4,1,NaN
1496,542,1,22,1,1,1,100635937,390,1,3,...,1.0,1.0,2.0,2.201029e+14,NaN,NaN,16.299999,4,2,NaN
1497,549,3,22,1,1,2,100636008,545,1,0,...,1.0,4.0,NaN,2.201033e+14,NaN,NaN,8.860000,4,2,NaN
1498,553,1,22,1,1,1,100635916,327,2,27,...,NaN,NaN,NaN,NaN,1.062022e+11,-1.984568,16.299999,4,1,NaN
1499,555,1,22,1,1,1,100635926,329,1,9,...,NaN,NaN,NaN,NaN,1.062322e+11,-3.148898,16.299999,4,1,NaN
1500,556,1,22,1,1,1,100635907,330,2,8,...,NaN,NaN,NaN,NaN,1.062422e+11,-0.406952,16.299999,4,1,NaN
1501,573,1,22,1,1,1,100635911,340,2,1,...,NaN,NaN,NaN,NaN,1.064322e+11,-2.679482,16.299999,4,1,NaN
1502,574,1,22,1,1,1,100635925,341,2,0,...,NaN,NaN,NaN,NaN,1.064422e+11,-2.681955,16.299999,4,1,NaN
1503,617,2,22,1,1,1,100635901,415,2,4,...,1.0,5.0,NaN,2.201029e+14,NaN,NaN,16.299999,4,2,NaN
1504,664,1,22,1,1,1,100635896,369,2,0,...,NaN,NaN,NaN,NaN,1.072222e+11,-2.345953,16.299999,4,1,NaN

In [241]:
def make_dataset_district_wise(all_datasets_list, all_field_list, state_code) :  
    
    dataset_clean_sorted_list = list()
    
    for i in range(len(all_datasets_list)) :
        dataset = all_datasets_list[i]
        field = all_field_list[i]
        
        dataset_clean = remove_yellow_fields(dataset, field[0])
        dataset_clean_sorted = sort_dataset_state_dist_house(dataset_clean)
        
        dataset_clean_sorted_list.append(dataset_clean_sorted)
        
#     file_handler = open(str(state_code) + "_clean_sorted_data_list", "wb")
#     pickle.dump(dataset_clean_sorted_list, file_handler)
#     file_handler.close()
    

    dataset_wise_district_list = list()
    
    for i in range(len(dataset_clean_sorted_list)) :
        unique_dist = dataset_clean_sorted_list[i]['district'].unique()
        field = all_field_list[i]
        dataset = dataset_clean_sorted_list[i]
        
        dist_final_list = list()
        dist_dataset_list = district_wise_dataset(dataset)
        
        j = 0
        for dist in unique_dist :
            dist_j = dist_dataset_list[j][1]
            dist_j_hot = one_hot_df(dist_j, field[4])
            dist_j_hot_house = house_no_wise_dataset(dist_j_hot)
            # Replace empty values by <NaN>
            dist_j_final = recompile_district_dataset(dist_j_hot_house)
            dist_j_final = dist_j_final.replace(r'\s+', np.nan, regex=True)

            csv_name = str(str(i) + "_" + str(state_code) + "_" + str(dist) + ".csv")

            
            file_path = str(data_path + str(state_code) + "/")
            if not os.path.exists(file_path):
                os.makedirs(file_path)
                
            file_path = file_path + str(i) + "/"
            if not os.path.exists(file_path):
                os.makedirs(file_path)
            
            file_name = file_path + csv_name
            dist_j_final.to_csv(file_name)
            
            print(file_name, "written")
            
            dist_final_list.append(dist_j_final)
            j += 1
            
        dataset_wise_district_list.append(dist_final_list)
    
    return(dataset_wise_district_list)

In [232]:
csv_list = [AHS_mort, AHS_wps, AHS_women, AHS_comb]

In [234]:
field_list = [mort_field_list, wps_field_list, women_field_list, comb_field_list]

In [242]:
AHS_all_dist_wise = make_dataset_district_wise(csv_list, field_list, 22)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

('/Volumes/WD HDD/AHS_Data/22/0/0_22_1.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_2.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_3.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_4.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_5.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_6.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_7.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_8.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_9.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_10.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_11.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_12.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_13.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_14.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_15.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_16.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/1/1_22_1.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/1/1_22_2.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/1/1_22_3.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/1/1_22_4.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/1/1_22_5.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/1/1_22_6.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/1/1_22_7.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/1/1_22_8.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/1/1_22_9.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/1/1_22_10.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/1/1_22_11.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/1/1_22_12.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/1/1_22_13.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/1/1_22_14.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/1/1_22_15.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/1/1_22_16.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/2/2_22_1.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/2/2_22_2.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/2/2_22_3.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/2/2_22_4.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/2/2_22_5.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/2/2_22_6.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/2/2_22_7.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/2/2_22_8.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/2/2_22_9.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/2/2_22_10.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/2/2_22_11.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/2/2_22_12.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/2/2_22_13.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/2/2_22_14.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/2/2_22_15.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/2/2_22_16.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/3/3_22_1.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/3/3_22_2.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/3/3_22_3.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/3/3_22_4.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/3/3_22_5.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/3/3_22_6.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/3/3_22_7.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/3/3_22_8.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/3/3_22_9.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/3/3_22_10.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/3/3_22_11.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/3/3_22_12.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/3/3_22_13.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/3/3_22_14.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/3/3_22_15.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/3/3_22_16.csv', 'written')

In [240]:
AHS_mort_dist_wise_hot = make_dataset_district_wise([AHS_mort.iloc[:10000]], [mort_field_list], 22)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

('/Volumes/WD HDD/AHS_Data/22/0/0_22_1.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_2.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_3.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_4.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_5.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_6.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_7.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_8.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_9.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_10.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_11.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_12.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_13.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_14.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_15.csv', 'written')
('/Volumes/WD HDD/AHS_Data/22/0/0_22_16.csv', 'written')

In [155]:
AHS_mort_dist_wise_hot[0][10].shape

(1024, 332)

In [161]:
state_data = recompile_state_dataset(AHS_mort_dist_wise_hot[0])

In [162]:
state_data.shape

(10000, 398)

In [163]:
state_data

,age,age_of_death_above_one_year,age_of_death_below_eleven_month,age_of_death_below_one_month,alcohol_1.0,alcohol_2.0,alcohol_3.0,alcohol_4.0,as,building_no,...,water_filteration_4.0,water_filteration_5.0,water_filteration_6.0,water_filteration_7.0,water_filteration_8.0,wt,year,year_of_birth,year_of_death,year_of_marriage
0,65.0,NaN,8.0,NaN,0,0,0,1,-4.786023,NaN,...,0,0.0,0.0,NaN,NaN,16.299999,1,1944.0,2009,1966.0
0,35.0,49.0,NaN,NaN,1,0,0,0,8.460409,1,...,0,0.0,0.0,NaN,NaN,16.299999,1,1974.0,2008,1990.0
1,72.0,65.0,NaN,NaN,0,1,0,0,8.023195,NaN,...,1,0.0,0.0,NaN,NaN,12.630000,1,1937.0,2007,1958.0
0,57.0,33.0,NaN,NaN,0,1,0,0,7.609506,NaN,...,0,0.0,0.0,NaN,NaN,16.299999,1,1952.0,2009,1982.0
1,27.0,14.0,NaN,NaN,0,0,0,1,-3.392867,NaN,...,0,0.0,0.0,NaN,NaN,16.299999,1,1982.0,2007,2002.0
0,57.0,47.0,NaN,NaN,0,0,0,1,NaN,NaN,...,0,0.0,0.0,NaN,NaN,8.860000,3,1954.0,2011,1979.0
1,48.0,20.0,NaN,NaN,0,0,0,1,NaN,NaN,...,1,0.0,0.0,NaN,NaN,12.630000,3,1963.0,2011,1981.0
2,27.0,41.0,NaN,NaN,1,0,0,0,-4.811838,NaN,...,0,0.0,0.0,NaN,NaN,8.860000,1,1982.0,2007,2007.0
0,48.0,55.0,NaN,NaN,0,0,0,1,9.369745,NaN,...,1,0.0,0.0,NaN,NaN,12.630000,1,1961.0,2008,1988.0
1,35.0,35.0,NaN,NaN,0,1,0,0,-5.126647,NaN,...,0,0.0,0.0,NaN,NaN,16.299999,1,1974.0,2008,1988.0
2,28.0,NaN,NaN,1.0,0,0,0,1,-4.747137,NaN,...,0,0.0,0.0,NaN,NaN,16.299999,1,1981.0,2008,2001.0
3,26.0,NaN,NaN,1.0,0,0,0,1,-5.449861,NaN,...,0,0.0,0.0,NaN,NaN,16.299999,1,1983.0,2008,2002.0
0,70.0,60.0,NaN,NaN,0,0,0,1,9.995829,NaN,...,0,0.0,0.0,NaN,NaN,12.630000,1,1939.0,2009,1959.0
0,51.0,60.0,NaN,NaN,0,0,0,1,NaN,NaN,...,1,0.0,0.0,NaN,NaN,16.299999,2,1959.0,2010,1977.0
0,65.0,35.0,NaN,NaN,1,0,0,0,-4.811838,NaN,...,0,0.0,0.0,NaN,NaN,8.860000,1,1944.0,2009,1963.0
1,50.0,73.0,NaN,NaN,0,1,0,0,6.415765,NaN,...,1,0.0,0.0,NaN,NaN,8.860000,1,1959.0,2009,1982.0
2,51.0,9.0,NaN,NaN,0,1,0,0,NaN,NaN,...,1,0.0,0.0,NaN,NaN,16.299999,2,1959.0,2010,1980.0
3,38.0,NaN,NaN,11.0,0,0,0,1,-0.200751,NaN,...,0,0.0,0.0,NaN,NaN,16.299999,1,1971.0,2007,2000.0
0,66.0,NaN,1.0,NaN,0,1,0,0,NaN,NaN,...,0,0.0,0.0,NaN,NaN,16.299999,2,1944.0,2010,1960.0
1,26.0,NaN,NaN,1.0,0,0,0,1,NaN,NaN,...,0,0.0,0.0,NaN,NaN,16.299999,2,1984.0,2010,2002.0
2,35.0,48.0,NaN,NaN,0,1,0,0,-3.934462,NaN,...,0,0.0,0.0,NaN,NaN,16.299999,1,1974.0,2008,2001.0
0,30.0,NaN,2.0,NaN,0,0,0,1,-3.507172,NaN,...,1,0.0,0.0,NaN,NaN,16.299999,1,1979.0,2008,1996.0
0,47.0,53.0,NaN,NaN,0,0,0,1,9.739318,NaN,...,0,1.0,0.0,NaN,NaN,12.630000,1,1962.0,2009,1974.0
0,50.0,80.0,NaN,NaN,0,1,0,0,-4.388279,NaN,...,1,0.0,0.0,NaN,NaN,16.299999,1,1959.0,2008,1975.0
1,33.0,NaN,NaN,4.0,0,1,0,0,-4.450021,NaN,...,0,0.0,0.0,NaN,NaN,16.299999,1,1976.0,2008,1993.0
2,61.0,15.0,NaN,NaN,0,1,0,0,NaN,NaN,...,1,0.0,0.0,NaN,NaN,8.860000,2,1949.0,2010,1967.0
0,86.0,60.0,NaN,NaN,0,1,0,0,9.869382,NaN,...,0,0.0,0.0,NaN,NaN,12.630000,1,1923.0,2007,1940.0
0,32.0,40.0,NaN,NaN,0,1,0,0,-3.810069,NaN,...,1,0.0,0.0,NaN,NaN,8.860000,1,1977.0,2009,1987.0
1,62.0,33.0,NaN,NaN,0,0,0,1,-3.743107,NaN,...,0,0.0,0.0,NaN,NaN,16.299999,1,1947.0,2007,1970.0
2,51.0,6.0,NaN,NaN,0,1,0,0,NaN,NaN,...,0,0.0,0.0,NaN,NaN,16.299999,2,1959.0,2010,1984.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,38.0,45.0,NaN,NaN,0,0,0,1,6.991072,NaN,...,0,1.0,0.0,0.0,NaN,10.780000,1,1971.0,2007,2003.0
0,40.0,44.0,NaN,NaN,0,0,0,1,-4.193056,NaN,...,1,0.0,0.0,0.0,NaN,14.570000,1,1969.0,2007,1992.0
0,45.0,NaN,4.0,NaN,0,1,0,0,-1.967806,NaN,...,1,0.0,0.0,0.0,NaN,14.570000,1,1964.0,2008,1999.0
0,70.0,82.0,NaN,NaN,0,0,0,1,-3.955558,NaN,...,1,0.0,0.0,0.0,NaN,14.570000,1,1939.0,2008,1962.0
0,35.0,NaN,9.0,NaN,1,0,0,0,-0.696754,NaN,...,0,0.0,0.0,0.0,NaN,14.570000,1,1974.0,2008,1998.0
0,43.0,30.0,NaN,NaN,0,0,0,1,0.768802,NaN,...,0,0.0,0.0,0.0,NaN,10.780000,1,1966.0,2008,1980.0
0,29.0,25.0,NaN,NaN,0,0,0,0,NaN,NaN,...,0,0.0,0.0,0.0,NaN,10.780000,3,1982.0,2011,2010.0
1,28.0,46.0,NaN,NaN,0,0,0,0,NaN,NaN,...,0,0.0,0.0,0.0,NaN,10.780000,2,1982.0,2010,2010.0
2,28.0,25.0,NaN,NaN,0,0,0,0,NaN,NaN,...,0,0.0,0.0,0.0,NaN,10.780000,2,1982.0,2010,2010.0
0,32.0,NaN,9.0,NaN,0,0,0,1,NaN,NaN,...,1,0.0,0.0,0.0,NaN,14.570000,3,1979.0,2011,2005.0
1,31.0,NaN,9.0,NaN,0,0,0,1,NaN,NaN,...,1,0.0,0.0,0.0,NaN,14.570000,2,1979.0,2010,2005.0
0,30.0,47.0,NaN,NaN,0,1,0,0,6.256583,NaN,...,0,0.0,0.0,0.0,NaN,10.780000,1,1979.0,2008,2002.0
0,59.0,35.0,NaN,NaN,0,1,0,0,8.014130,NaN,...,0,1.0,0.0,0.0,NaN,10.780000,1,1950.0,2007,1974.0
0,21.0,56.0,NaN,NaN,0,0,0,1,NaN,NaN,...,1,0.0,0.0,0.0,NaN,14.570000,2,1989.0,2010,2007.0
0,55.0,2.0,NaN,NaN,0,1,0,0,-4.662472,NaN,...,1,0.0,0.0,0.0,NaN,14.570000,1,1954.0,2009,1972.0
0,45.0,50.0,NaN,NaN,0,1,0,0,-3.980940,NaN,...,1,0.0,0.0,0.0,NaN,14.570000,1,1964.0,2008,1983.0
0,31.0,10.0,NaN,NaN,0,0,0,1,NaN,NaN,...,0,0.0,0.0,0.0,NaN,5.640000,3,1980.0,2011,2009.0
1,30.0,NaN,NaN,0.0,0,0,0,1,NaN,NaN,...,0,0.0,0.0,0.0,NaN,5.640000,2,1980.0,2010,2009.0
0,21.0,41.0,NaN,NaN,0,0,0,1,NaN,NaN,...,0,0.0,0.0,0.0,NaN,14.570000,3,1990.0,2011,0.0
1,20.0,50.0,NaN,NaN,0,0,0,1,NaN,NaN,...,0,0.0,0.0,0.0,NaN,14.570000,2,1990.0,2010,0.0
0,31.0,66.0,NaN,NaN,0,1,0,0,NaN,NaN,...,0,0.0,0.0,0.0,NaN,14.570000,2,1979.0,2010,2002.0
0,35.0,40.0,NaN,NaN,0,0,0,1,-2.495757,NaN,...,1,0.0,0.0,0.0,NaN,14.570000,1,1974.0,2007,1994.0
0,31.0,NaN,7.0,NaN,0,1,0,0,NaN,NaN,...,1,0.0,0.0,0.0,NaN,14.570000,3,1980.0,2011,1997.0
0,50.0,45.0,NaN,NaN,0,0,0,1,-3.635411,NaN,...,1,0.0,0.0,0.0,NaN,14.570000,1,1959.0,2007,1977.0
0,56.0,70.0,NaN,NaN,0,0,0,1,NaN,NaN,...,1,0.0,0.0,0.0,NaN,14.570000,2,1954.0,2010,1969.0
0,60.0,NaN,6.0,NaN,1,0,0,0,-2.349951,NaN,...,0,0.0,0.0,0.0,NaN,14.570000,1,1949.0,2008,1974.0
0,40.0,38.0,NaN,NaN,0,0,0,1,-3.996796,NaN,...,1,0.0,0.0,0.0,NaN,14.570000,1,1969.0,2007,1988.0
0,40.0,35.0,NaN,NaN,0,1,0,0,-4.429260,NaN,...,1,0.0,0.0,0.0,NaN,14.570000,1,1969.0,2007,1990.0
0,31.0,NaN,8.0,NaN,0,1,0,0,NaN,NaN,...,1,0.0,0.0,0.0,NaN,14.570000,2,1979.0,2010,1996.0
0,45.0,NaN,3.0,NaN,0,1,0,0,-1.880871,NaN,...,0,0.0,0.0,0.0,NaN,14.570000,1,1964.0,2007,1981.0

In [159]:
list(AHS_mort_dist_wise_hot[0][10])

['house_no',
 'house_hold_no',
 'state',
 'district',
 'psu_id',
 'm_serial_no',
 'date_of_death',
 'month_of_death',
 'year_of_death',
 'age_of_death_below_one_month',
 'age_of_death_below_eleven_month',
 'age_of_death_above_one_year',
 'serial_num_of_infant_mother',
 'order_of_birth',
 'is_death_associated_with_pregnan',
 'months_of_pregnancy',
 'time_between_onset_of_complicati',
 'nearest_medical_facility',
 'field38',
 'member_identity',
 'father_serial_no',
 'mother_serial_no',
 'date_of_birth',
 'month_of_birth',
 'year_of_birth',
 'age',
 'date_of_marriage',
 'month_of_marriage',
 'year_of_marriage',
 'building_no',
 'no_of_dwelling_rooms',
 'fid',
 'isdeadmigrated',
 'iscoveredbyhealthscheme',
 'healthscheme_1',
 'healthscheme_2',
 'housestatus',
 'householdstatus',
 'isheadchanged',
 'fidh',
 'fidx',
 'as',
 'wt',
 'schedule_id',
 'year',
 'v126',
 u'rural_1',
 u'rural_2',
 u'stratum_code_0',
 u'stratum_code_1',
 u'stratum_code_2',
 u'deceased_sex_1',
 u'deceased_sex_2',
 u'treatment_source_0',
 u'treatment_source_1',
 u'treatment_source_2',
 u'treatment_source_3',
 u'treatment_source_4',
 u'treatment_source_5',
 u'treatment_source_6',
 u'treatment_source_8',
 u'treatment_source_9',
 u'treatment_source_10',
 u'treatment_source_11',
 u'treatment_source_12',
 u'treatment_source_99',
 u'place_of_death_1',
 u'place_of_death_2',
 u'place_of_death_3',
 u'place_of_death_4',
 u'is_death_reg_1',
 u'is_death_reg_2',
 u'is_death_reg_3',
 u'is_death_certificate_received_1.0',
 u'is_death_certificate_received_2.0',
 u'death_symptoms_1.0',
 u'death_symptoms_2.0',
 u'death_symptoms_3.0',
 u'death_symptoms_4.0',
 u'death_symptoms_5.0',
 u'death_symptoms_6.0',
 u'death_symptoms_8.0',
 u'death_symptoms_9.0',
 u'death_symptoms_10.0',
 u'death_symptoms_14.0',
 u'death_symptoms_15.0',
 u'death_period_1.0',
 u'death_period_2.0',
 u'death_period_3.0',
 u'death_period_4.0',
 u'factors_contributing_death_1.0',
 u'factors_contributing_death_2.0',
 u'factors_contributing_death_4.0',
 u'factors_contributing_death_5.0',
 u'factors_contributing_death_6.0',
 u'factors_contributing_death_7.0',
 u'factors_contributing_death_2_3.0',
 u'factors_contributing_death_2_4.0',
 u'factors_contributing_death_2_5.0',
 u'symptoms_of_death_0.0',
 u'symptoms_of_death_1.0',
 u'symptoms_of_death_2.0',
 u'symptoms_of_death_6.0',
 u'symptoms_of_death_7.0',
 u'symptoms_of_death_9.0',
 u'sex_1.0',
 u'sex_2.0',
 u'usual_residance_1.0',
 u'relation_to_head_1.0',
 u'religion_1.0',
 u'religion_2.0',
 u'religion_4.0',
 u'religion_6.0',
 u'religion_7.0',
 u'social_group_code_1.0',
 u'social_group_code_2.0',
 u'social_group_code_3.0',
 u'marital_status_1.0',
 u'marital_status_2.0',
 u'marital_status_3.0',
 u'marital_status_4.0',
 u'marital_status_5.0',
 u'marital_status_6.0',
 u'marital_status_7.0',
 u'currently_attending_school_1.0',
 u'currently_attending_school_2.0',
 u'reason_for_not_attending_school_9.0',
 u'highest_qualification_0.0',
 u'highest_qualification_1.0',
 u'highest_qualification_2.0',
 u'highest_qualification_3.0',
 u'highest_qualification_4.0',
 u'highest_qualification_5.0',
 u'highest_qualification_6.0',
 u'highest_qualification_7.0',
 u'highest_qualification_8.0',
 u'highest_qualification_9.0',
 u'occupation_status_1.0',
 u'occupation_status_2.0',
 u'occupation_status_3.0',
 u'occupation_status_4.0',
 u'occupation_status_5.0',
 u'occupation_status_6.0',
 u'occupation_status_7.0',
 u'occupation_status_8.0',
 u'occupation_status_9.0',
 u'occupation_status_10.0',
 u'occupation_status_11.0',
 u'occupation_status_13.0',
 u'occupation_status_14.0',
 u'occupation_status_15.0',
 u'occupation_status_16.0',
 u'disability_status_0.0',
 u'disability_status_2.0',
 u'disability_status_3.0',
 u'disability_status_5.0',
 u'disability_status_6.0',
 u'injury_treatment_type_0.0',
 u'injury_treatment_type_1.0',
 u'injury_treatment_type_2.0',
 u'injury_treatment_type_4.0',
 u'injury_treatment_type_5.0',
 u'injury_treatment_type_6.0',
 u'illness_type_0.0',
 u'illness_type_2.0',
 u'illness_type_3.0',
 u'illness_type_5.0',
 u'illness_type_6.0',
 u'illness_type_7.0',
 u'illness_type_9.0',
 u'symptoms_pertaining_illness_1.0',
 u'symptoms_pertaining_illness_2.0',
 u'symptoms_pertaining_illness_3.0',
 u'symptoms_pertaining_illness_4.0',
 u'symptoms_pertaining_illness_5.0',
 u'symptoms_pertaining_illness_6.0',
 u'symptoms_pertaining_illness_8.0',
 u'symptoms_pertaining_illness_9.0',
 u'symptoms_pertaining_illness_10.0',
 u'symptoms_pertaining_illness_11.0',
 u'symptoms_pertaining_illness_13.0',
 u'symptoms_pertaining_illness_99.0',
 u'sought_medical_care_1.0',
 u'sought_medical_care_2.0',
 u'sought_medical_care_3.0',
 u'diagnosed_for_0.0',
 u'diagnosed_for_1.0',
 u'diagnosed_for_2.0',
 u'diagnosed_for_3.0',
 u'diagnosed_for_4.0',
 u'diagnosed_for_5.0',
 u'diagnosed_for_6.0',
 u'diagnosed_for_7.0',
 u'diagnosed_for_8.0',
 u'diagnosed_for_9.0',
 u'diagnosed_for_11.0',
 u'diagnosed_for_15.0',
 u'diagnosed_for_19.0',
 u'diagnosed_for_20.0',
 u'diagnosed_for_21.0',
 u'diagnosed_for_25.0',
 u'diagnosed_for_99.0',
 u'diagnosis_source_0.0',
 u'diagnosis_source_1.0',
 u'diagnosis_source_6.0',
 u'diagnosis_source_8.0',
 u'diagnosis_source_9.0',
 u'diagnosis_source_10.0',
 u'diagnosis_source_99.0',
 u'regular_treatment_1.0',
 u'regular_treatment_2.0',
 u'regular_treatment_3.0',
 u'regular_treatment_source_0.0',
 u'regular_treatment_source_6.0',
 u'regular_treatment_source_8.0',
 u'regular_treatment_source_9.0',
 u'regular_treatment_source_10.0',
 u'regular_treatment_source_99.0',
 u'chew_1.0',
 u'chew_2.0',
 u'chew_3.0',
 u'chew_4.0',
 u'chew_5.0',
 u'chew_6.0',
 u'chew_7.0',
 u'smoke_1.0',
 u'smoke_2.0',
 u'smoke_3.0',
 u'smoke_4.0',
 u'alcohol_1.0',
 u'alcohol_2.0',
 u'alcohol_3.0',
 u'alcohol_4.0',
 u'house_status_1.0',
 u'house_status_2.0',
 u'house_structure_1.0',
 u'house_structure_2.0',
 u'house_structure_3.0',
 u'house_structure_4.0',
 u'owner_status_1.0',
 u'owner_status_2.0',
 u'owner_status_3.0',
 u'drinking_water_source_1.0',
 u'drinking_water_source_2.0',
 u'drinking_water_source_3.0',
 u'drinking_water_source_4.0',
 u'drinking_water_source_5.0',
 u'drinking_water_source_6.0',
 u'drinking_water_source_7.0',
 u'drinking_water_source_8.0',
 u'is_water_filter_1.0',
 u'is_water_filter_2.0',
 u'water_filteration_1.0',
 u'water_filteration_2.0',
 u'water_filteration_3.0',
 u'water_filteration_4.0',
 u'water_filteration_5.0',
 u'water_filteration_6.0',
 u'water_filteration_7.0',
 u'water_filteration_8.0',
 u'toilet_used_0.0',
 u'toilet_used_1.0',
 u'toilet_used_2.0',
 u'toilet_used_3.0',
 u'toilet_used_4.0',
 u'toilet_used_5.0',
 u'toilet_used_6.0',
 u'toilet_used_9.0',
 u'is_toilet_shared_1.0',
 u'is_toilet_shared_2.0',
 u'household_have_electricity_1.0',
 u'household_have_electricity_2.0',
 u'lighting_source_1.0',
 u'lighting_source_2.0',
 u'lighting_source_3.0',
 u'lighting_source_4.0',
 u'lighting_source_5.0',
 u'lighting_source_6.0',
 u'cooking_fuel_0.0',
 u'cooking_fuel_1.0',
 u'cooking_fuel_2.0',
 u'cooking_fuel_3.0',
 u'cooking_fuel_4.0',
 u'cooking_fuel_5.0',
 u'cooking_fuel_6.0',
 u'cooking_fuel_9.0',
 u'kitchen_availability_1.0',
 u'kitchen_availability_2.0',
 u'kitchen_availability_3.0',
 u'kitchen_availability_4.0',
 u'kitchen_availability_5.0',
 u'is_radio_1.0',
 u'is_radio_2.0',
 u'is_television_1.0',
 u'is_television_2.0',
 u'is_computer_1.0',
 u'is_computer_2.0',
 u'is_computer_3.0',
 u'is_telephone_1.0',
 u'is_telephone_2.0',
 u'is_telephone_3.0',
 u'is_telephone_4.0',
 u'is_washing_machine_1.0',
 u'is_washing_machine_2.0',
 u'is_refrigerator_1.0',
 u'is_refrigerator_2.0',
 u'is_sewing_machine_1.0',
 u'is_sewing_machine_2.0',
 u'is_bicycle_1.0',
 u'is_bicycle_2.0',
 u'is_scooter_1.0',
 u'is_scooter_2.0',
 u'is_car_1.0',
 u'is_car_2.0',
 u'is_tractor_1.0',
 u'is_tractor_2.0',
 u'is_water_pump_1.0',
 u'is_water_pump_2.0',
 u'cart_1.0',
 u'cart_2.0',
 u'cart_3.0',
 u'cart_4.0',
 u'land_possessed_1.0',
 u'land_possessed_2.0',
 u'land_possessed_3.0',
 u'land_possessed_4.0',
 u'land_possessed_5.0',
 u'land_possessed_6.0',
 u'residancial_status_1.0',
 u'residancial_status_2.0',
 u'residancial_status_3.0',
 u'residancial_status_4.0']

In [113]:
asd = AHS_mort.iloc[:10000]

In [114]:
asd.shape

(10000, 122)

In [122]:
# pd.get_dummies(asd, columns=mort_field_list[4])
one_hot_df(asd, mort_field_list[4])

,id,m_id,client_m_id,hl_id,house_no,house_hold_no,psu_id,m_serial_no,date_of_death,month_of_death,...,land_possessed_2.0,land_possessed_3.0,land_possessed_4.0,land_possessed_5.0,land_possessed_6.0,residancial_status_1.0,residancial_status_2.0,residancial_status_3.0,residancial_status_4.0,residancial_status_6.0
0,396272,1165.0,236.0,17941.0,104,1,100660545,83,9,9,...,0,0,0,0,1,0,0,0,0,0
1,396280,1173.0,164.0,18053.0,54,1,100659542,54,8,7,...,0,0,0,0,1,0,0,0,0,0
2,396288,1181.0,172.0,18115.0,116,1,100659538,116,22,7,...,0,0,0,0,1,0,0,0,0,0
3,396296,1188.0,391.0,18247.0,48,1,100660728,51,18,8,...,0,0,0,0,0,0,0,0,0,0
4,396304,1196.0,399.0,18441.0,213,1,100660775,180,12,4,...,0,0,0,0,0,0,0,0,0,0
5,396312,1204.0,407.0,18484.0,248,1,100660745,212,25,4,...,0,0,1,0,0,0,0,0,0,0
6,396320,1212.0,415.0,18659.0,385,1,100660749,352,0,2,...,1,0,0,0,0,0,0,0,0,0
7,396328,1221.0,325.0,18840.0,115,2,100661091,98,15,7,...,1,0,0,0,0,0,0,0,0,0
8,396336,1229.0,333.0,19040.0,289,1,100661072,252,16,11,...,1,0,0,0,0,0,0,0,0,0
9,396344,1237.0,341.0,19215.0,455,1,100661073,377,0,10,...,1,0,0,0,0,0,0,0,0,0
10,396352,1245.0,157.0,19344.0,90,1,100659253,6,3,6,...,0,1,0,0,0,0,0,0,0,0
11,396360,1253.0,165.0,19413.0,155,1,100659273,14,25,7,...,0,1,0,0,0,0,0,0,0,0
12,396368,1261.0,173.0,19502.0,238,1,100659259,21,14,12,...,0,1,0,0,0,0,0,0,0,0
13,396376,1269.0,195.0,19707.0,119,1,100659067,119,6,5,...,0,0,0,0,1,0,0,0,0,0
14,396384,1277.0,203.0,19780.0,160,1,100659062,175,25,7,...,0,0,0,0,1,0,0,0,0,0
15,396392,1285.0,534.0,19896.0,13,1,100659870,1,0,10,...,0,0,0,0,0,0,0,0,0,0
16,396400,1293.0,429.0,20013.0,15,2,100659784,16,0,4,...,0,0,0,0,1,0,0,0,0,0
17,396408,1299.0,435.0,20106.0,87,2,100659803,90,13,2,...,1,0,0,0,0,0,0,0,0,0
18,396416,1306.0,442.0,20151.0,119,1,100659749,130,14,6,...,0,1,0,0,0,0,0,0,0,0
19,396424,1313.0,449.0,20207.0,159,1,100659797,176,11,12,...,1,0,0,0,0,0,0,0,0,0
20,396432,1321.0,457.0,20280.0,227,2,100659773,228,18,7,...,0,0,0,0,1,0,0,0,0,0
21,396440,1329.0,465.0,20372.0,306,1,100659786,302,12,10,...,1,0,0,0,0,0,0,0,0,0
22,396448,1336.0,472.0,20434.0,361,1,100659792,360,9,12,...,1,0,0,0,0,0,0,0,0,0
23,396456,1348.0,138.0,20556.0,107,1,100661593,80,8,11,...,0,0,0,0,0,0,0,0,0,0
24,396464,1358.0,157.0,20813.0,95,1,100660838,81,1,10,...,0,0,0,0,1,0,0,0,0,0
25,396472,1363.0,162.0,20859.0,139,1,100660844,110,10,11,...,0,0,0,0,1,0,0,0,0,0
26,396480,1371.0,138.0,21176.0,7,1,100661141,6,0,7,...,0,0,0,0,1,0,0,0,0,0
27,396488,1377.0,144.0,21273.0,89,2,100661154,83,0,6,...,0,0,0,0,1,0,0,0,0,0
28,396496,1385.0,141.0,21319.0,15,1,100661649,12,11,2,...,0,0,0,0,1,0,0,0,0,0
29,396504,1393.0,149.0,21452.0,125,1,100661647,119,11,3,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,437183,23.0,NaN,NaN,55,2,100642447,681,0,0,...,0,0,0,0,0,1,0,0,0,0
9971,437191,204.0,NaN,NaN,69,1,100642182,93,18,11,...,0,1,0,0,0,1,0,0,0,0
9972,437199,258.0,NaN,NaN,39,1,100644149,45,0,0,...,0,0,0,0,1,1,0,0,0,0
9973,437207,710.0,NaN,NaN,74,1,100643142,81,0,7,...,0,0,0,0,1,1,0,0,0,0
9974,437215,245.0,NaN,NaN,150,1,100642115,174,0,12,...,1,0,0,0,0,1,0,0,0,0
9975,437223,253.0,NaN,NaN,158,2,100642029,177,0,0,...,1,0,0,0,0,1,0,0,0,0
9976,437231,273.0,NaN,NaN,106,2,100643964,161,0,3,...,0,0,0,0,1,1,0,0,0,0
9977,437239,287.0,NaN,NaN,77,2,100641903,99,0,4,...,1,0,0,0,0,1,0,0,0,0
9978,437247,32.0,NaN,NaN,86,2,100642311,95,2,11,...,0,0,1,0,0,1,0,0,0,0
9979,437255,319.0,NaN,NaN,59,1,100642784,59,0,2,...,0,0,0,0,0,1,0,0,0,0
9980,437263,317.0,NaN,NaN,22,2,100642579,184,7,5,...,0,0,0,0,0,0,0,0,1,0
9981,437271,326.0,NaN,NaN,89,1,100643454,96,0,0,...,0,0,0,0,1,1,0,0,0,0
9982,437279,336.0,NaN,NaN,327,1,100643501,397,12,5,...,1,0,0,0,0,1,0,0,0,0
9983,437287,344.0,NaN,NaN,141,2,100641976,114,10,6,...,0,1,0,0,0,1,0,0,0,0
9984,437295,351.0,NaN,NaN,28,2,100642489,59,27,6,...,0,0,0,0,1,1,0,0,0,0
9985,437303,360.0,NaN,NaN,126,2,100644231,130,7,6,...,1,0,0,0,0,1,0,0,0,0
9986,437311,368.0,NaN,NaN,41,3,100642376,74,31,7,...,0,0,0,0,1,1,0,0,0,0
9987,437319,376.0,NaN,NaN,148,1,100642377,216,1,6,...,1,0,0,0,0,1,0,0,0,0
9988,437327,50.0,NaN,NaN,161,1,100642981,175,0,0,...,0,0,0,0,0,1,0,0,0,0
9989,437335,385.0,NaN,NaN,41,1,100643130,65,12,10,...,0,0,0,0,0,1,0,0,0,0
9990,437343,394.0,NaN,NaN,30,1,100644171,24,0,0,...,0,1,0,0,0,1,0,0,0,0
9991,437351,402.0,NaN,NaN,73,1,100644379,116,30,4,...,1,0,0,0,0,1,0,0,0,0
9992,437359,674.0,NaN,NaN,108,3,100644200,169,0,0,...,0,0,0,0,0,1,0,0,0,0
9993,437367,408.0,NaN,NaN,81,1,100644018,110,6,8,...,0,0,0,0,1,1,0,0,0,0
9994,437375,416.0,NaN,NaN,54,5,100643022,99,0,0,...,0,0,0,0,1,1,0,0,0,0
9995,437383,424.0,NaN,NaN,81,1,100642352,72,0,0,...,0,0,0,0,0,1,0,0,0,0
9996,437391,435.0,NaN,NaN,44,1,100643926,50,5,11,...,0,0,0,0,1,1,0,0,0,0
9997,437399,443.0,NaN,NaN,151,4,100643397,239,0,0,...,1,0,0,0,0,1,0,0,0,0
9998,437407,752.0,NaN,NaN,44,1,100641768,54,0,9,...,0,0,0,0,1,1,0,0,0,0
9999,437415,452.0,NaN,NaN,34,1,100642721,60,0,0,...,1,0,0,0,0,1,0,0,0,0